<ion-toolbar>
  <!--===bg_theme_small===-->
  <div class="bg_theme bg_theme_small comman_page_padding">
    <ion-row class="">
      <ion-col size="10">
        <a [routerLink]="['/dashboard/home']"><img src="../../../../../../assets/imgs/back-button.svg"></a>
      </ion-col>
      
    </ion-row>
    <ion-row>
      <h1>Add New Member</h1>
    </ion-row>
  </div>
</ion-toolbar>
<ion-content *ngIf="Member">
  <div class="details_previews_page">
    <!-- <div class="bg_theme comman_page_padding bg_theme_small">
      <ion-row>
        <h1>Add New Member</h1>
      </ion-row>
    </div> -->

    <ion-row class="pre_row">
      <ion-col size="2">
          <div class="logo_img">
               <img src="../../../../../../assets/imgs/logo.png" class="pre_logo">
          </div>
        </ion-col> 
        <ion-col size="10">
          <div class="heading">
             <h1 class="title-1">Dev Rising Nidhi Limited</h1>
             <h2 class="title-2">Head Office : Ghanahatti, Teh & Distt. Shimla</h2>
             <p class="title-3">(A Nidhi Company Registered under section 406 of the companies act 2013)</p>
            </div>
        </ion-col> 
        </ion-row>

    <ion-row class="ion-text-center">
      <ion-col size="12">
        <h2>Membership Applications and Account Opening Form</h2>
      </ion-col>
    </ion-row>
    <div class="previews_details">
      <div class="personal_details_section">
        <div class="table_heading">
          <h3>Personal Details</h3>
        </div>
        <div class="table_data">
          <ion-row class="dotted">
            <ion-col size="6">
              <div>First Name</div>
            </ion-col>
            <ion-col size="6">
              <div>: {{Member.first_name}} </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Last Name</div>
            </ion-col>
            <ion-col size="6">
              <div>: {{Member.last_name}} </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Father Name</div>
            </ion-col>
            <ion-col size="6">
              <div>: {{Member.father_name}} </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted" *ngIf="Member.spouse_name != ''">
            <ion-col size="6">
              <div>Husband/Wife Name</div>
            </ion-col>
            <ion-col size="6">
              <div>: {{Member.spouse_name}} </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Date of Birth</div>
            </ion-col>
            <ion-col size="6">
              <div>: {{Member.dob}} </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Marital Status</div>
            </ion-col>
            <ion-col size="6">
              <div>: {{Member.marital_status}} </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Gender</div>
            </ion-col>
            <ion-col size="6">
              <div>: {{Member.gender}} </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Email</div>
            </ion-col>
            <ion-col size="6">
              <div>: {{Member.last_name}} </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Occupation</div>
            </ion-col>
            <ion-col size="6">
              <div>: {{Member.occupation}} </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Pan NO</div>
            </ion-col>
            <ion-col size="6">
              <div>: {{Member.pan_no}} </div>
            </ion-col>
          </ion-row>
          <ion-row class="">
            <ion-col size="6">
              <div>Aadhar NO</div>
            </ion-col>
            <ion-col size="6">
              <div>: {{Member.aadhar_no}} </div>
            </ion-col>
          </ion-row>
        </div>
        <!--==table_data close==-->
      </div>
      <!--====personal_details_section Close====-->
      <div class="adress_section second_sec">
        <div class="table_heading">
          <h3>Present Address</h3>
        </div>
        <div class="table_data">
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Village/House No./Town</div>
            </ion-col>
            <ion-col size="6">
              <div>: {{prst[1]}} </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Post Office (P.O.)</div>
            </ion-col>
            <ion-col size="6">
              <div>: {{prst[3]}} </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Panchayat</div>
            </ion-col>
            <ion-col size="6">
              <div>: {{contact.panchayat}}</div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Tehsil</div>
            </ion-col>
            <ion-col size="6">
              <div>: {{prst[5]}} </div>
            </ion-col>
          </ion-row>
          <ion-row class="">
            <ion-col size="6">
              <div>Pin Code</div>
            </ion-col>
            <ion-col size="6">
              <div>: {{contact.pincode}} </div>
            </ion-col>
          </ion-row>
        </div>
        <!--==table_data close==-->
      </div>
      <!--===adress_section Close===-->
      <div class="adress_section third_sec">
        <div class="table_heading">
          <h3>Permanent Address</h3>
        </div>
        <div class="table_data">
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Village/House No./Town</div>
            </ion-col>
            <ion-col size="6">
              <div>: {{stng[1]}} </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Post Office (P.O.)</div>
            </ion-col>
            <ion-col size="6">
              <div>: {{stng[3]}}</div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Panchaydaat</div>
            </ion-col>
            <ion-col size="6">
              <div>: {{contact.permanent_panchayat}}</div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Tehsil</div>
            </ion-col>
            <ion-col size="6">
              <div>: {{stng[5]}}</div>
            </ion-col>
          </ion-row>
          <ion-row class="">
            <ion-col size="6">
              <div>Pin Code</div>
            </ion-col>
            <ion-col size="6">
              <div>: {{contact.permanent_pincode}} </div>
            </ion-col>
          </ion-row>
        </div>
        <!--==table_data close==-->
      </div>
      <!--===adress_section Close===-->
      <!-- <div class="kyc_section forth_sec">
        <div class="table_heading">
          <h3>Member KYC</h3>
        </div>
        <div class="kyc_docs">
          <ion-row class="dotted">
            <ion-col size="8">
              <div>Aadhar / Address Proof<br><span>(Front Side)</span></div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <div class="doc_image">
                <img src="../../../../../../assets/imgs/adhar_img.svg">
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="8">
              <div>Aadhar / Address Proof<br><span>(Back Side)</span></div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <div class="doc_image" >
                <img src="../../../../../../assets/imgs/adhar_back.svg">
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="8">
              <div>Pan Card</div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <div class="doc_image">
                <img src="../../../../../../assets/imgs/pan_card_img.svg">
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="8">
              <div>Photo</div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <div class="doc_image">
                <img src="../../../../../../assets/imgs/kyc_member_profile.svg">
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="8">
              <div>Photo</div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <div class="doc_image">
                <img src="../../../../../../assets/imgs/signature_img.svg">
              </div>
            </ion-col>
          </ion-row>
        </div>
      
      </div> -->
      <!--===kyc_section Close===-->
      <div class="nominee_details">
        <div class="table_heading">
          <h3>Nominee Details</h3>
        </div>
        <div class="table_data">
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Nominee Name</div>
            </ion-col>
            <ion-col size="6">
              <div>: {{Member.nominee_name}}</div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Relation</div>
            </ion-col>
            <ion-col size="6">
              <div>: {{Member.nominee_relation}} </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Father Name</div>
            </ion-col>
            <ion-col size="6">
              <div>:{{Member.nominee_father_name}}</div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Mobile No.</div>
            </ion-col>
            <ion-col size="6">
              <div>: {{Member.nominee_mobile_no}} </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Aadhar No.</div>
            </ion-col>
            <ion-col size="6">
              <div>: {{Member.nominee_aadhar_no}} </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Pan No.</div>
            </ion-col>
            <ion-col size="6">
              <div>: {{Member.nominee_pan_no}} </div>
            </ion-col>
          </ion-row>
          <ion-row class="last_row">
            <ion-col size="6">
              <div>Address</div>
            </ion-col>
            <ion-col size="6" class="last_col">
              <div><p>: {{Member.nominee_address}}</p> </div>
            </ion-col>
          </ion-row>
        <ion-row class="terms_checkbox">
          <ion-col size="12">
            <ion-checkbox ></ion-checkbox>  
            <ion-label> I have read and agree to the <a href="#">term and Conditions.</a></ion-label>  
          </ion-col>
        </ion-row>
        </div>
        <!--==table_data close==-->
        <div class="add_member_form_btns">
          <button class="small_btn_gray" [routerLink]="['/address-details/kyc']">Back</button>
          <button class="gradient_fill_btn small_btn_filled" [routerLink]="['/dashboard/home']">Next</button>
        </div>
      </div>
      <!--===nominee_details Close===-->
    </div>
    <!--===previews_details close===-->
  </div>
</ion-content>