<ion-content>
  <div class="details_previews_page">
    <div class="bg_theme comman_page_padding bg_theme_small">
      <ion-row>
        <h1>Add New Member</h1>
      </ion-row>
    </div>

    <ion-row class="pre_row">
      <ion-col size="2">
          <div class="logo_img">
               <img src="../../../../../../assets/imgs/logo.png" class="pre_logo">
          </div>
        </ion-col> 
        <ion-col size="10">
          <div class="heading">
             <h1 class="title-1">Dev Rising Nidhi Limited</h1>
             <h2 class="title-2">Head Office : Ghanahatti, Teh_ $ Distt. Shimla</h2>
             <p class="title-3">(A Nidhi Company Registered under section 406 of the companies act 2013)</p>
            </div>
        </ion-col> 
        </ion-row>

    <ion-row class="ion-text-center">
      <ion-col size="12">
        <h2>Membership Applications and Account Opening Form</h2>
      </ion-col>
    </ion-row>
    <div class="previews_details">
      <div class="personal_details_section">
        <div class="table_heading">
          <h3>Personal Details</h3>
        </div>
        <div class="table_data">
          <ion-row class="dotted">
            <ion-col size="6">
              <div>First Name</div>
            </ion-col>
            <ion-col size="6">
              <div>: Rakesh </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Last Name</div>
            </ion-col>
            <ion-col size="6">
              <div>: Kumar </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Father Name</div>
            </ion-col>
            <ion-col size="6">
              <div>: Ram Lal </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Husband/Wife Name</div>
            </ion-col>
            <ion-col size="6">
              <div>: Sheetal </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Date of Birth</div>
            </ion-col>
            <ion-col size="6">
              <div>: 07/06/2001 </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Marital Status</div>
            </ion-col>
            <ion-col size="6">
              <div>: Married </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Gender</div>
            </ion-col>
            <ion-col size="6">
              <div>: Male </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Email</div>
            </ion-col>
            <ion-col size="6">
              <div>: xyz@gmail.com </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Occupation</div>
            </ion-col>
            <ion-col size="6">
              <div>: Shopkeeper </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Pan NO</div>
            </ion-col>
            <ion-col size="6">
              <div>: 123456789 </div>
            </ion-col>
          </ion-row>
          <ion-row class="">
            <ion-col size="6">
              <div>Aadhar NO</div>
            </ion-col>
            <ion-col size="6">
              <div>: 123456789 </div>
            </ion-col>
          </ion-row>
        </div>
        <!--==table_data close==-->
      </div>
      <!--====personal_details_section Close====-->
      <div class="adress_section second_sec">
        <div class="table_heading">
          <h3>Present Address</h3>
        </div>
        <div class="table_data">
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Village/House No./Town</div>
            </ion-col>
            <ion-col size="6">
              <div>: Nehra </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Post Office (P.O.)</div>
            </ion-col>
            <ion-col size="6">
              <div>: Nehra </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Panchayat</div>
            </ion-col>
            <ion-col size="6">
              <div>: Totu</div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Tehsil</div>
            </ion-col>
            <ion-col size="6">
              <div>: Distt. </div>
            </ion-col>
          </ion-row>
          <ion-row class="">
            <ion-col size="6">
              <div>Pin Code</div>
            </ion-col>
            <ion-col size="6">
              <div>: 171001 </div>
            </ion-col>
          </ion-row>
        </div>
        <!--==table_data close==-->
      </div>
      <!--===adress_section Close===-->
      <div class="adress_section third_sec">
        <div class="table_heading">
          <h3>Permanent Address</h3>
        </div>
        <div class="table_data">
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Village/House No./Town</div>
            </ion-col>
            <ion-col size="6">
              <div>: Nehra </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Post Office (P.O.)</div>
            </ion-col>
            <ion-col size="6">
              <div>: Nehra </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Panchayat</div>
            </ion-col>
            <ion-col size="6">
              <div>: Totu</div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Tehsil</div>
            </ion-col>
            <ion-col size="6">
              <div>: Distt. </div>
            </ion-col>
          </ion-row>
          <ion-row class="">
            <ion-col size="6">
              <div>Pin Code</div>
            </ion-col>
            <ion-col size="6">
              <div>: 171001 </div>
            </ion-col>
          </ion-row>
        </div>
        <!--==table_data close==-->
      </div>
      <!--===adress_section Close===-->
      <div class="kyc_section forth_sec">
        <div class="table_heading">
          <h3>Member KYC</h3>
        </div>
        <div class="kyc_docs">
          <ion-row class="dotted">
            <ion-col size="8">
              <div>Aadhar / Address Proof<br><span>(Front Side)</span></div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <div class="doc_image">
                <img src="../../../../../../assets/imgs/adhar_img.svg">
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="8">
              <div>Aadhar / Address Proof<br><span>(Back Side)</span></div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <div class="doc_image" >
                <img src="../../../../../../assets/imgs/adhar_back.svg">
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="8">
              <div>Pan Card</div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <div class="doc_image">
                <img src="../../../../../../assets/imgs/pan_card_img.svg">
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="8">
              <div>Photo</div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <div class="doc_image">
                <img src="../../../../../../assets/imgs/kyc_member_profile.svg">
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="8">
              <div>Photo</div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <div class="doc_image">
                <img src="../../../../../../assets/imgs/signature_img.svg">
              </div>
            </ion-col>
          </ion-row>
        </div>
        <!--===kyc_docs close===-->
      </div>
      <!--===kyc_section Close===-->
      <div class="nominee_details">
        <div class="table_heading">
          <h3>Nominee Details</h3>
        </div>
        <div class="table_data">
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Nominee Name</div>
            </ion-col>
            <ion-col size="6">
              <div>: Rakesh </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Relation</div>
            </ion-col>
            <ion-col size="6">
              <div>: Son </div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Father Name</div>
            </ion-col>
            <ion-col size="6">
              <div>: Ram Lal</div>
            </ion-col>
          </ion-row>
          <ion-row class="dotted">
            <ion-col size="6">
              <div>Mobile No.</div>
            </ion-col>
            <ion-col size="6">
              <div>: NA </div>
            </ion-col>
          </ion-row>
          <ion-row class="last_row">
            <ion-col size="6">
              <div>Address</div>
            </ion-col>
            <ion-col size="6" class="last_col">
              <div><p>: Village Demo <br>Po Demo Teh and Distt. <br> Demo 171001</p></div>
            </ion-col>
          </ion-row>
        <ion-row class="terms_checkbox">
          <ion-col size="12">
            <ion-checkbox ></ion-checkbox>  
            <ion-label> I have read and agree to the <a href="#">term and Conditions.</a></ion-label>  
          </ion-col>
        </ion-row>
        </div>
        <!--==table_data close==-->
        <div class="add_member_form_btns">
          <button class="small_btn_gray" [routerLink]="['/address-details/kyc']">Back</button>
          <button class="gradient_fill_btn small_btn_filled" [routerLink]="['/dashboard/home']">Next</button>
        </div>
      </div>
      <!--===nominee_details Close===-->
    </div>
    <!--===previews_details close===-->
  </div>
</ion-content>