<ion-header translucent>
  <ion-toolbar>
    <ion-title>Add New Beneficiary</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="comman_page_headline">
    <h2>Fill Details Below</h2>
  </div>
  <div class="rd_fd_form comman_page_padding ">
    <ion-item lines="none">
      <ion-label position="floating">Name of Beneficiary</ion-label>
      <ion-input required [(ngModel)]="name" type="text"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Enter Phone Number</ion-label>
      <ion-input maxlength="10" required [(ngModel)]="mobile_no" type="tel" pattern="[0-9]*" ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Enter Account Number</ion-label>
      <ion-input minlength="5" required  [(ngModel)]="account_no" type="text" ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Re-Enter Account Number</ion-label>
      <ion-input minlength="5" required  [(ngModel)]="account_no" type="text" ></ion-input>
    </ion-item>
  </div>
  <div class="page_footer_btn ion-text-center">
    <button class="gradient_fill_btn large_btn_filled" (click)="add_new()">Submit</button>
  </div>
</ion-content>