<ion-toolbar>
  <div class="all_rd_accounts_page">
    <!--===bg_theme_small===-->
    <div class="bg_theme bg_theme_small comman_page_padding">
      <ion-row class="">
        <ion-col size="10">
          <a [routerLink]="['/dashboard/home']"><img src="../../../../../assets/imgs/back-button.svg"></a>
        </ion-col>
        <ion-col size="2">
          <div class="notification_numbur"> <span class="">12</span></div>
          <img class="bell_icon relative" src="../../../../../assets/imgs/bell.svg">
        </ion-col>
      </ion-row>
    </div>
    </div>
</ion-toolbar>

<ion-content>
  <div class="helpandsupport">
    <h2>Help & Support</h2>
    <div class="enquiry">
     For all your enquiries :
    </div>
    <p class="fade-text-help">
     Call at Tele No +91 98054 00010 (Tollfree)
    </p>
    <p class="fade-text-help">
     Call at Tele No +91 98054 00010 (Tollfree)
    </p>
    <p class="fade-text-help">
     Contact with Email info@devrising.in
    </p>
    <!-- <button class="chat-with-us">Click here to chat with us</button> -->
    </div>
<!-- <div class="quick_action">
Block Card 
</div>
<div class="quick_action">
Block Card 

</div>
<div class="quick_action">
Block Card 

</div>
<div class="quick_action">
Block Card 

</div>
<div class="quick_action">
Block Card 

</div>
<div class="quick_action">
Block Card 

</div>
<div class="quick_action">
  Block Card 
  
  </div> -->
</ion-content>
