<!-- <ion-toolbar>
  
  <div class="accounts-header ">
    <ion-row>
      <ion-col size="1">
       <div class="back-button">
         <ion-back-button defaultHref="dashboard/home" name="chevron-back-outline"></ion-back-button></div>
      </ion-col>
      <ion-col size="2">
        <img src="../../assets/imgs/logo.png"/>
      </ion-col>
      <ion-col size="7">
        
      </ion-col>
      <ion-col size="1" (click)="presentPopover('any')">
        <img src="../../assets/icon/bellb.svg"/>
      </ion-col>
      <ion-col size="1" class="blue-wallet" (click)="gohome()">
          <img src="../../assets/icon/walletb.svg"/>
      </ion-col>
    </ion-row>
   
   </div>
   <div class="acoounts-header">
    <h1>RD Account</h1>
    <p class="faded-text">
     Maturity Amount 
    </p>
    <h2 *ngIf="RdDetails">₹ {{RdDetails.maturity_amount.toLocaleString('en-IN')}}/-</h2>
    <ion-button size="small" color="warning" (click)="add_installment()">Deposit Installment</ion-button>
    </div>
  
</ion-toolbar>
<div class="home-box" *ngIf="RdDetails">
  <ion-row>
   <ion-col size="6" class="ddamount">
     <h1>₹ {{ RdDetails.principal_amount.toLocaleString('en-IN') }}/-</h1>
     <p>RD Amount</p>
   </ion-col>
    <ion-col size="6" class="interest-rate">
     <h1>{{RdDetails.interest_rate}}%</h1>
     <p>Interest Rate(%)</p>
   </ion-col>
  </ion-row>
 <div class="house"></div>
 <ion-row>
   <ion-col size="6" class="installmentamount">
    <h1>{{RdDetails.advance_installment}}</h1>
    <p>Advance Instalment</p>
  </ion-col>
   <ion-col size="6" class="pending-installment">
    <h1>{{RdDetails.pending_installment}}</h1>
    <p>Pending Instalment</p>
  </ion-col>
 </ion-row>
 </div>
 

 <div class="whole-date-range">
  <div class="date-filter-title"> Date Filter</div> 
    <ion-list class="daterangecolums">                         
      <div class="block-date-items">               
          <div class="label-date">
          Start Date
          </div>
          <div class="flex-center">
            <ion-datetime value="1990-02-19" placeholder="Select Date" class="actual-time-label" [(ngModel)]="start_date" (ionChange)="StartDate()">
            </ion-datetime> <ion-icon name="calendar-outline" class="blue-calender"></ion-icon>   
          </div>                          
      </div>
    
      <div class="block-date-items">
              <div class="label-date">
                End Date
              </div>
        <div class="flex-center">
                <ion-datetime value="1990-02-20" placeholder="Select Date" class="actual-time-label" [(ngModel)]="end_date" (ionChange)="EndDate()"></ion-datetime>
                  <ion-icon name="calendar-outline">
                <ion-icon name="calendar-outline" class="blue-calender"></ion-icon> </ion-icon>
        </div>
      </div>
      
    </ion-list>
    <div class="ion-text-center">
    <a class="discover-button ion-text-center" id="filter" (click)="Apply_Date()">
      Apply Filter
    </a>
  </div>
  </div>

<div class="transaction-list">
 
  <ion-row>
   <ion-col size="5">
     <h3 class="blue-text">
      RD Transactions
     </h3>
   </ion-col>
   <ion-col size="3">
      </ion-col>
   <ion-col size="4">
    <h3 class="blue-text ion-text-right">
    All Details <ion-icon name="chevron-down-outline"></ion-icon>
    </h3>
   </ion-col>
 </ion-row>
 
 
 
 <div *ngIf="RdTransactions.length == 0 || RdTransactions == '' ">
  <h5 class="ion-text-center">No transactions yet.</h5>
</div>
<div class="show {{RdTransactions.length}}" *ngIf="RdTransactions.length > 0">
  
<ion-row *ngFor= "let RdTransactions of RdTransactions; let i=index"  >
  <div class="inner_wrap" *ngIf="show_filter">
    <div class="new_list" *ngIf="i<10">
    <ion-col size="5">
      <h3 class="blue-text">
      {{RdTransactions.transaction_date}}
      </h3>
      <p class="faded-text">
        {{RdTransactions.transaction_type}}
      </p>
    </ion-col>
    <ion-col size="3">
    <p class="faded-text">
      {{RdTransactions.payment_mode}}
    </p>
      </ion-col>
    <ion-col size="4">
      <p class="details-green-text" *ngIf="RdTransactions.transaction_type == 'credit'">
        {{RdTransactions.amount.toLocaleString('en-IN')}}
      </p>
      
      <p class="details-red-text" *ngIf="RdTransactions.transaction_type == 'debit'">
        {{RdTransactions.amount.toLocaleString('en-IN')}}
      </p>
    </ion-col>
    </div>
  </div>
</ion-row>

<ion-row *ngFor= "let RdTransactions of RdTransactions; let i=index"  >
  <div class="inner_wrap" *ngIf="show_filter == false">
    <div class="new_list" >
    <ion-col size="5">
      <h3 class="blue-text">
      {{RdTransactions.transaction_date}}
      </h3>
      <p class="faded-text">
        {{RdTransactions.transaction_type}}
      </p>
    </ion-col>
    <ion-col size="3">
    <p class="faded-text">
      {{RdTransactions.payment_mode}}
    </p>
      </ion-col>
    <ion-col size="4">
      <p class="details-green-text" *ngIf="RdTransactions.transaction_type == 'credit'">
        {{RdTransactions.amount.toLocaleString('en-IN')}}
      </p>
      
      <p class="details-red-text" *ngIf="RdTransactions.transaction_type == 'debit'">
        {{RdTransactions.amount.toLocaleString('en-IN')}}
      </p>
    </ion-col>
    </div>
</div>
</ion-row>
 </div>
</div>
 <div class="btn_cover ion-text-center" *ngIf="RdTransactions.length > 0">
  <button ion-button full (click)="createPdf()" class="ion-margin ion-align-center btn login_btn">Create PDF</button>
  
 </div> -->
 
 <!-- <div class="range-bar">
  <ion-row class="md hydrated">
    <ion-col size="6" class="md hydrated" style="flex: 0 0 calc(calc(6 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(6 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(6 / var(--ion-grid-columns, 12)) * 100%);">
      <p class="date">
        29th jun 19
      </p>
    </ion-col>
       <ion-col size="6" class="md hydrated" style="flex: 0 0 calc(calc(6 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(6 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(6 / var(--ion-grid-columns, 12)) * 100%);">
        <p class="date-end">
          29th Aug 22
        </p>
    </ion-col>
  </ion-row>
</div> -->
<!-- <ion-item class="item md ion-focusable hydrated item-interactive">
  <ion-range min="0" max="100" step="2" class="md in-item hydrated">
    <ion-icon size="small" slot="start" name="" role="img" class="md icon-small hydrated"></ion-icon>
    <ion-icon slot="end" name="" role="img" class="md hydrated"></ion-icon>
  <input type="hidden" class="aux-input" name="" value="40"></ion-range>
  </ion-ite ===-->
  <ion-content>
    <div class="all_rd_accounts_page">
      <!--===bg_theme_small===-->
      <div class="bg_theme bg_theme_small comman_page_padding">
        <ion-row class="">
          <ion-col size="10">
            <a [routerLink]="['/dashboard/home']"><img src="../../../../../assets/imgs/back-button.svg"></a>
          </ion-col>
          <ion-col size="2">
            <div class="notification_numbur"> <span class="">12</span></div>
            <img class="bell_icon relative" src="../../../../../assets/imgs/bell.svg">
          </ion-col>
        </ion-row>
        <ion-row>
          <h1>Recurring Deposit Accounts</h1>
        </ion-row>
      </div>
      <!--===bg_theme_small End==-->
      <div class="body comman_page_padding">
        <ion-row>
          <ion-col size="8"></ion-col>
          <ion-col size="4">
            <button  class="small_btn_filled gradient_fill_btn">Open New RD</button>
          </ion-col>
        </ion-row>
        <ion-card   class="account_details_card card_purple" *ngIf="Rdresponse">
        <ion-card  class="account_details_card card_purple"  *ngFor="let RdResponse of Rdresponse;let i=index">
        <ion-card  class="account_details_card card_purple"  *ngif="RdResponse">
        </ion-card>
          <ion-row>
            <ion-col size="3">
              <div class="circle ion-text-center">
                <img src="../../../../../assets/imgs/RD Icon.svg">
              </div>
            </ion-col>
            <ion-col size="9" class="right_side">
              <div class="card_header flex">
                <span>Recurring Amount</span>
                <span class="rd_number">{{ RdResponse.account_number}}</span>
                <!-- <img class="plus_icon" src="../../assets/images/plus_icon.svg"> -->
              </div>
              <div class="amount_figure">
                <h3>₹ {{ RdResponse.principal_amount }}/-</h3>
              </div>
              <div class="amount_details clearfix">
                <div class="text_left">
                  <span>Maturity Amout</span>
                  <span>Maturity Date</span>
                </div>
                <div class="right_bar">
                  <span>: ₹ {{RdResponse.maturity_amount}}/-</span>
                  <span>: {{RdResponse.maturity_date}}</span>
                </div>
              </div>
            </ion-col>
            <span class="background_font_faded">RD</span>
          </ion-row>
          <div class=" accordion" *ngIf="isShown">
            <ion-row class="dotted">
              <ion-col size="5">
                <div>Status</div>
              </ion-col>
              <ion-col size="1">
                <div>:</div>
              </ion-col>
              <ion-col size="6">
                <div *ngIf="RdResponse.status == 'Active'"><div class="color_theme_green">{{RdResponse.status}}</div></div>
                <div *ngIf="RdResponse.status == 'Closed'" ><div class="color_theme_red">{{RdResponse.status}}</div></div>
                <div *ngIf="RdResponse.status == 'Fore closed'" ><div class="color_theme_red">{{RdResponse.status}}</div></div>
              </ion-col>
            </ion-row>
            <ion-row class="dotted">
              <ion-col size="5">
                <div>Pending Instalments</div>
              </ion-col>
              <ion-col size="1">
                <div>:</div>
              </ion-col>
              <ion-col size="6">
                <div class="color_theme_red">{{RdResponse.pending_installment}}</div>
              </ion-col>
            </ion-row>
            <ion-row class="dotted">
              <ion-col size="5">
                <div>Scheme</div>
              </ion-col>
              <ion-col size="1">
                <div>:</div>
              </ion-col>
              <ion-col size="6">
                <div>{{RdResponse.scheme}}</div>
              </ion-col>
            </ion-row>
            <ion-row class="dotted">
              <ion-col size="5">
                <div>Interest Rate</div>
              </ion-col>
              <ion-col size="1">
                <div>:</div>
              </ion-col>
              <ion-col size="6">
                <div>{{RdResponse.interest_rate}}%</div>
              </ion-col>
            </ion-row>
            <ion-row class="dotted">
              <ion-col size="5">
                <div>Deposit Frequency</div>
              </ion-col>
              <ion-col size="1">
                <div>:</div>
              </ion-col>
              <ion-col size="6">
                <div> {{RdResponse.rd_frequency}}</div>
              </ion-col>
            </ion-row>
            <ion-row class="dotted">
              <ion-col size="5">
                <div>RD Amount</div>
              </ion-col>
              <ion-col size="1">
                <div>:</div>
              </ion-col>
              <ion-col size="6">
                <div>₹ {{ RdResponse.principal_amount}}/-</div>
              </ion-col>
            </ion-row>
            <ion-row class="dotted">
              <ion-col size="5">
                <div>Deposit Amount</div>
              </ion-col>
              <ion-col size="1">
                <div>:</div>
              </ion-col>
              <ion-col size="6">
                <div>₹ {{RdResponse.total_amount}}/-</div>
              </ion-col>
            </ion-row>
            <ion-row class="dotted">
              <ion-col size="5">
                <div>Open Date</div>
              </ion-col>
              <ion-col size="1">
                <div>:</div>
              </ion-col>
              <ion-col size="6">
                <div>{{RdResponse.open_date}}</div>
              </ion-col>
            </ion-row>
            <ion-row class="dotted">
              <ion-col size="5">
                <div>Maturity Amt <span class="color_theme_red inline_block">*</span></div>
              </ion-col>
              <ion-col size="1">
                <div>:</div>
              </ion-col>
              <ion-col size="6">
                <div>₹ {{RdResponse.maturity_amount}}/-</div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5">
                <div>TDS Deduction</div>
              </ion-col>
              <ion-col size="1">
                <div>:</div>
              </ion-col>
              <ion-col size="6">
                <div>Yes</div>
              </ion-col>
            </ion-row>
          </div>
          <div class="card_bottom_btns" [style.margin-top]="mgTop" [style.margin-bottom]="mgBotm">
            <button class="medium_filled_btn gradient_fill_btn" [routerLink]="['fullstatement']"
              [ngStyle]="{'visibility':isthisbtnshow? 'visible' : 'hidden'}">Full Statement</button>
              <button class="medium_filled_btn gradient_fill_btn" [routerLink]="['fullstatement']"
              [ngStyle]="{'visibility':isthisbtnshow? 'visible' : 'hidden'}">Deposit Installment</button>
            <button class="extra_small_gray_btn" (click)="accordionShow()"
              (click)="change_text()">{{changed_text}}</button>
          </div>
          
          <div ><div class="progressbar">
            <ion-progress-bar value="0.6"></ion-progress-bar>
          </div></div>

          <div *ngIf="RdResponse.status == 'Closed'" ><div class="progressbar_red">
            <ion-progress-bar value="1"></ion-progress-bar>
          </div></div>

          <div *ngIf="RdResponse.status == 'Fore closed'" ><div class="progressbar_red">
            <ion-progress-bar value="1"></ion-progress-bar>
          </div></div>
        
        </ion-card>
      </ion-card>
        <!--===ion-card close===-->
      </div>
      <!--===body close====-->
    </div>
  </ion-content>