
<ion-content>
  <div class="successful">
       <div class="ion-text-center">
           <ion-row>
            <ion-col>
                <img src="../../../../../../../assets/imgs/logo.png">
             </ion-col>
             </ion-row>
        </div>
  </div>
  <div class="ion-text-center">
    <h1 class="screenshot"> Screenshot Uploaded Successfully .</h1>
  </div>
  <div class="ion-text-center">
    <ion-row>
      <ion-col>
          <img src="../../../../../../../assets/imgs/success.PNG" class="suceess_img">
       </ion-col>
       </ion-row>
       </div>
       <div class="ion-text-center">
        <ion-row>
          <ion-col>
            <p class="success_para">Your request submitted successfully<br>please wait for conformation.</p>
           </ion-col>
           </ion-row>
           </div>
           <div class="ion-text-center">
            <ion-row>
              <ion-col>
                  <button class="gradient_fill_btn large_btn_filled-2" [routerLink]="['/dashboard/home']" >Home</button>
              </ion-col>
            </ion-row>
            </div>
</ion-content>
