<ion-content>
  <div class="payement_nidhi_page">
    <!--===bg_theme_small===-->
    <div class="bg_theme bg_theme_small comman_page_padding">
      <ion-row class="">
        <ion-col size="10">
          <a [routerLink]="['/wbbeneficiary']"><img src="../../../../../../assets/imgs/back-button.svg"></a>
        </ion-col>
        <ion-col size="2">
          <div class="notification_numbur"> <span class="">12</span></div>
          <img class="bell_icon relative" src="../../../../../../assets/imgs/bell.svg">
        </ion-col>
      </ion-row>
      <ion-row>
        <h1>Beneficiary</h1>
      </ion-row>
    </div>
    <!--===bg_theme_small End==-->
    <!--===payement_page_content===-->
    <div class="payement_page_content ">
      <div class="comman_page_headline">
        <h2>Available Balance : {{Balance}}/-</h2>
      </div>
      <div class="payment_details">
        <ion-item lines="none" class="dotted">
          <ion-avatar slot="start">
            <img src="../../../../../../assets/imgs/profile_image.png" alt="avatar.png">
          </ion-avatar>
          <ion-label class="name" *ngIf="bene_data">{{bene_data.name}}</ion-label>
          <div class="left_bar">
            <span>Dev Rising Nidhi Ltd.</span>
            <span *ngIf="bene_data">{{bene_data.account_no}}</span>
          </div>
        </ion-item>
        <div class="enter_amount_ field comman_input_field">
          <ion-item lines="none" >
            <form #form="ngForm" >
             <ion-label position="floating">Enter Amount</ion-label>
             <ion-input required pattern="[0-9]*" [(ngModel)]="amount" name="amount" type="tel" ></ion-input>
            </form>
            
          </ion-item>
          <ion-row class="page_checkbox">
            <ion-col size="12" class="algn">
              <ion-checkbox (click)="addValue($event)" [(ngModel)]="checked"></ion-checkbox>
              <ion-label> I accept all <a (click)="tandc()">term and Conditions.</a></ion-label>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <button class="gradient_fill_btn large_btn_filled" [routerLink]="['/otppage']">Transfer</button>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>