
<ion-toolbar>
  <!--===bg_theme_small===-->
  <div class="bg_theme bg_theme_small comman_page_padding">
    <ion-row class="">
      <ion-col size="10">
        <a [routerLink]="['/beneficiary']"><img src="../../../../../../assets/imgs/back-button.svg"></a>
      </ion-col>
      <ion-col size="2">
        <div class="notification_numbur"> <span class="">12</span></div>
        <img class="bell_icon relative" src="../../../../../../assets/imgs/bell.svg">
      </ion-col>
    </ion-row>
  </div>
</ion-toolbar>
 <link rel="stylesheet" href="/src/assets/css/bootstrap.min.css">
 <ion-content class=" ion-justify-content-center ion-align-items-center">
 <ion-col size="12" class="profile-header md hydrated" style="flex: 0 0 calc(calc(12 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(12 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(12 / var(--ion-grid-columns, 12)) * 100%);">
  
 
 
 </ion-col>
 <div class="password-change">
 <h1> Change Password</h1>

  <div class="password-label">
  <ion-label position="stacked" class="label-password ion-padding">Current Password <ion-text color="danger">*</ion-text></ion-label>
   <!-- <ion-input required type="password" [(ngModel)]="opassword" class="custom-input-pass"></ion-input> -->
   <ion-input maxlength="20" type="password" [(ngModel)]="currentPwd" class="custom-input-pass" name="currentPwd"></ion-input>
  </div>


<div class="password-label">
 <ion-label position="stacked"  class="label-password ion-padding">New Password <ion-text color="danger">*</ion-text></ion-label>
 <!-- <ion-input required type="password" class="custom-input-pass"></ion-input> -->
 <ion-input maxlength="20" type="password" [(ngModel)]="newPwd" class="custom-input-pass" name="newPwd"></ion-input>
 </div>

<div class="password-label">
 <ion-label position="stacked" class="label-password ion-padding">Confirm New Password <ion-text color="danger">*</ion-text></ion-label>
 <!-- <ion-input required type="password"  class="custom-input-pass"></ion-input> -->
 <ion-input maxlength="20" type="password" [(ngModel)]="confirmPwd" class="custom-input-pass" name="confirmPwd"></ion-input>

<button Class="backbutton white-button change-password-button"  (click)="changePassword()"> Change Password</button>
</div>
</div>



</ion-content>