
<ion-toolbar>
  <!--===bg_theme_small===-->
  <div class="bg_theme bg_theme_small comman_page_padding">
    <ion-row class="">
      <ion-col size="10">
        <a [routerLink]="['/dashboard/home']"><img src="../../../../../../assets/imgs/back-button.svg"></a>
      </ion-col>
      <ion-col size="2">
        <div class="notification_numbur"> <span class="">12</span></div>
        <img class="bell_icon relative" src="../../../../../../assets/imgs/bell.svg">
      </ion-col>
    </ion-row>
    <ion-row>
      <h1>Add New Member</h1>
    </ion-row>
  </div>
</ion-toolbar>
<ion-content >
    <div class="add_member_form comman_page_padding">
      <ion-card class="card_purple comman_input_field box_shadow">
        <ion-card-content>
          <ion-item lines="none">
            <ion-label position="floating">Enter Phone Number</ion-label>
            <ion-input type="number" [(ngModel)]="number"></ion-input>
          </ion-item>
          <div class="page_footer_btn ion-text-center">
            <button class="gradient_fill_btn large_btn_filled" (click)="checkno()" >Register</button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    </ion-content>

