<!-- <ion-toolbar> -->
  <!--- acconts header-->

  <!-- <div class="accounts-header ">
    <ion-row>
      <ion-col size="1">
       <div class="back-button">
         <ion-back-button defaultHref="dashboard/home" name="chevron-back-outline"></ion-back-button></div>
      </ion-col>
      <ion-col size="2">
        <img src="../../assets/imgs/logo.png"/>
      </ion-col>
      <ion-col size="7">
        
      </ion-col>
      <ion-col size="1" (click)="presentPopover('any')">
        <img src="../../assets/icon/bellb.svg"/>
      </ion-col>
      <ion-col size="1" class="blue-wallet" (click)="gohome()">
          <img src="../../assets/icon/walletb.svg"/>
      </ion-col>
    </ion-row>
   
   </div> -->
   <!--- accounts header end-->
<!-- </ion-toolbar>
<ion-content class=" ion-justify-content-center ion-align-items-center">

<div class="acoounts-header">
<h1>Saving Accounts</h1>
<p *ngIf="SavingDetails">{{SavingDetails.account_number}}</p>
<p class="faded-text">
 Available Balance
</p>
<h2 *ngIf="SavingDetails"> {{SavingDetails.balance_available.toLocaleString('en-IN')}} /-</h2>
</div>


<div class="whole-date-range">
<div class="date-filter-title"> Date Filter</div> 
  <ion-list class="daterangecolums">                         
    <div class="block-date-items">               
        <div class="label-date">
        Start Date
        </div>
        <div class="flex-center">
          <ion-datetime value="1990-02-19" placeholder="Select Date" class="actual-time-label" [(ngModel)]="start_date" (ionChange)="StartDate()">
          </ion-datetime> <ion-icon name="calendar-outline" class="blue-calender"></ion-icon>   
        </div>                          
    </div>
  
    <div class="block-date-items">
            <div class="label-date">
              End Date
            </div>
      <div class="flex-center">
              <ion-datetime value="1990-02-20" placeholder="Select Date" class="actual-time-label" [(ngModel)]="end_date" (ionChange)="EndDate()"></ion-datetime>
                <ion-icon name="calendar-outline">
              <ion-icon name="calendar-outline" class="blue-calender"></ion-icon> </ion-icon>
      </div>
    </div>
    
  </ion-list>
  <a class="discover-button" id="filter" (click)="Apply_Date()">
    Apply Filter
  </a>
</div>

<div class="transaction-list"> -->
<!-- top table row-->
<!-- <ion-row class="md hydrated">
<ion-col size="5" class="md hydrated" style="flex: 0 0 calc(calc(5 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(5 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(5 / var(--ion-grid-columns, 12)) * 100%);">
  <h3 class="blue-text">
   Saving Transactions
  </h3>
</ion-col>
<ion-col size="3" class="md hydrated" style="flex: 0 0 calc(calc(3 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);">
   </ion-col>
<ion-col size="4" class="md hydrated" style="flex: 0 0 calc(calc(4 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%);">
 <h3 class="blue-text ion-text-right">
 All Details <ion-icon name="chevron-down-outline" role="img" class="md hydrated" aria-label="chevron down outline"></ion-icon>
 </h3>
</ion-col>
</ion-row>


<div *ngIf="SavingTransactions.length == 0">
  <h5 class="ion-text-center">No transactions yet.</h5>
</div>
<div class="show" *ngIf="SavingTransactions.length > 0">
<ion-row class="md hydrated"  *ngFor="let result of SavingTransactions; let i=index"  >
  <div class="inner_wrap" *ngIf="show_filter">
    <div class="new_list" *ngIf="i<10">
      <ion-col size="5" class="md hydrated" style="flex: 0 0 calc(calc(5 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(5 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(5 / var(--ion-grid-columns, 12)) * 100%);">
      <h3 class="blue-text">
        {{result.transaction_date}}
      </h3>
      <p class="faded-text">
        {{result.transaction_type}}
      </p>
      </ion-col>
      <ion-col size="3" class="md hydrated" style="flex: 0 0 calc(calc(3 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);">
      <p class="faded-text">
        {{result.payment_mode}}
      </p>
        </ion-col>
      <ion-col size="4" class="md hydrated" style="flex: 0 0 calc(calc(4 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%);">
      <p class="details-green-text" *ngIf="result.transaction_type == 'credit'">
        {{result.amount.toLocaleString('en-IN')}}
      </p>

      <p class="details-red-text" *ngIf="result.transaction_type == 'debit'">
        {{result.amount.toLocaleString('en-IN')}}
      </p>
      </ion-col>
    </div>
  </div>
</ion-row>
<ion-row class="md hydrated"  *ngFor="let result of SavingTransactions; let i=index"  >
  <div class="inner_wrap" *ngIf="show_filter == false">
    <div class="new_list">
      <ion-col size="5" class="md hydrated" style="flex: 0 0 calc(calc(5 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(5 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(5 / var(--ion-grid-columns, 12)) * 100%);">
      <h3 class="blue-text">
        {{result.transaction_date}}
      </h3>
      <p class="faded-text">
        {{result.transaction_type}}
      </p>
      </ion-col>
      <ion-col size="3" class="md hydrated" style="flex: 0 0 calc(calc(3 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);">
      <p class="faded-text">
        {{result.payment_mode}}
      </p>
        </ion-col>
      <ion-col size="4" class="md hydrated" style="flex: 0 0 calc(calc(4 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%);">
      <p class="details-green-text" *ngIf="result.transaction_type == 'credit'">
        {{result.amount.toLocaleString('en-IN')}}
      </p>

      <p class="details-red-text" *ngIf="result.transaction_type == 'debit'">
        {{result.amount.toLocaleString('en-IN')}}
      </p>
      </ion-col>
    </div>
  </div>
</ion-row>
</div>





</div> -->


<!-- <button ion-button full (click)="downloadPdf()" color="secondary" [disabled]="!pdfObj">Download PDF</button> -->
<!-- <div class="btn_cover ion-text-center" *ngIf="SavingResponse.length > 0">
  <button ion-button full (click)="createPdf()" class="ion-margin ion-align-center btn login_btn">Create PDF</button>
</div>
  </ion-content> -->


  <ion-content>
    <!--===bg_theme_small===-->
    <div class="bg_theme bg_theme_small comman_page_padding">
      <ion-row class="">
        <ion-col size="10">
          <a [routerLink]="['/dashboard/home']"><img src="../../../../assets/imgs/back-button.svg"></a>
        </ion-col>
        <ion-col size="2" (click)="presentPopover('any')">
          
        </ion-col>
      </ion-row>
    </div>
    <!--===bg_theme_small End==-->
    <!--===savings accounts page====-->
    <div id="saving-account-page">
      <ion-row class="">
        <ion-col size="10">
          <h1 *ngIf="SavingDetails" class="acc">{{SavingDetails.account_number}}</h1>
          </ion-col>
          <ion-col size="2">
            <h2 *ngIf="SavingDetails" class="bal" >Available Balance : {{SavingDetails.balance_available.toLocaleString('en-IN')}} /-</h2>
          </ion-col>
          </ion-row>
          </div>
          <div class="card_purple">
          <div class="options-1">
            <div class="ion-card">
              <div class="box-1">
              <h1 class="add"> Add Member</h1>
              <div class="plus_img" >
                <img class="plus" [routerLink]="['/dashboard/home/add-member']" src="../../assets/imgs/plus_icon.svg"></div>
            </div>
            </div>
            <div class="ion-card">
              <div class="box-1">
                <h1 class="add"> RD</h1>
              <div class="plus_img" ><img class="plus" [routerLink]="['/dashboard/home/rdview/add-new-rd']" src="../../assets/imgs/plus_icon.svg"></div>
            </div>
            </div>
            <div class="ion-card">
              <div class="box-1">
                <h1 class="add"> FD</h1>
              <div class="plus_img" ><img class="plus"  [routerLink]="['/dashboard/home/fdview/add-new-fd']" src="../../assets/imgs/plus_icon.svg"></div>
            </div>
            </div>
            <div class="ion-card">
              <div class="box-1">
                <h1 class="add"> Transactions</h1>
              <div class="plus_img" ><img class="plus" [routerLink]="['/dashboard/transactions']" src="../../assets/imgs/plus_icon.svg"></div>
            </div>
            </div>
          
            
          </div>
              </div>
          </ion-content>

   