<ion-content>
  <!--===bg_theme_small===-->
  <div class="bg_theme bg_theme_small comman_page_padding">
    <ion-row class="">
      <ion-col size="10">
        <a [routerLink]="['/dashboard/home']"><img src="../../../../../assets/imgs/back-button.svg"></a>
      </ion-col>
      <ion-col size="2">
        <div class="notification_numbur"> <span class="">12</span></div>
        <img class="bell_icon relative" src="../../../../../assets/imgs/bell.svg">
      </ion-col>
    </ion-row>
    <ion-row>
      <h1>Recurring Deposit : RD00005</h1>
    </ion-row>
  </div>
  <!--===bg_theme_small End==-->
  <!--====reccuring deposit page====-->
  <div class="reccurring_deposit_page">
    <div class="comman_page_headline">
      <h2>Available Balance : 30,000.00/-</h2>
    </div>

    <div class="comman_page_padding">
      <!--===card_purple===-->
      <ion-card class="card_purple box_shadow">
        <!--===ion-card-header===-->
        <ion-card-header class="comman_card_header">
          <ion-row>
            <ion-col size="9">
              <h3>Recent Transaction</h3>
            </ion-col>
            <ion-col size="3" class="card_h_icons">
              <img src="../../../../../assets/imgs/calander_icon.svg">
              <img src="../../../../../assets/imgs/pdf_icon.svg">
            </ion-col>
          </ion-row>
        </ion-card-header>
        <!--===ion-card-content===-->
        <div class="whole-date-range">
          <div class="date-filter-title"> Date Filter</div> 
            <ion-list class="daterangecolums">                         
              <div class="block-date-items">               
                  <div class="label-date">
                  Start Date
                  </div>
                  <div class="flex-center">
                    <ion-datetime value="1990-02-19" placeholder="Select Date" class="actual-time-label" [(ngModel)]="start_date" (ionChange)="StartDate()">
                    </ion-datetime> <ion-icon name="calendar-outline" class="blue-calender"></ion-icon>   
                  </div>                          
              </div>
            
              <div class="block-date-items">
                      <div class="label-date">
                        End Date
                      </div>
                <div class="flex-center">
                        <ion-datetime value="1990-02-20" placeholder="Select Date" class="actual-time-label" [(ngModel)]="end_date" (ionChange)="EndDate()"></ion-datetime>
                          <ion-icon name="calendar-outline">
                        <ion-icon name="calendar-outline" class="blue-calender"></ion-icon> </ion-icon>
                </div>
              </div>
              
            </ion-list>
            <div class="ion-text-center">
            <a class="discover-button ion-text-center" id="filter" (click)="Apply_Date()">
              Apply Filter
            </a>
          </div>
          </div>
        <ion-card-content>
          <div class="searchbar">
            <ion-input type="search" placeholder="search....."><img src="../../../../../assets/imgs/search_icon.svg">
            </ion-input>
          </div>
          <!--===savings_account_details===-->
          <div class="comman_card_details">
            <ion-row class="dotted row">
              <ion-col size="6">
                <span>Credit from saving a/c - S00296.</span>
                <p class="color_brown">Cash | <span class="color_purple"> 06/06/2020</span></p>
              </ion-col>
              <ion-col size="5" class="right_col">
                <span>5,000.00</span>
                <span>Balance : 5,000.00</span>
              </ion-col>
              <ion-col size="1">
                <img class="" src="../../../../../assets/imgs/plus_green.svg">
              </ion-col>
            </ion-row>
            <ion-row class="dotted row">all-fd-accounts
              <ion-col size="6">
                <span>Cash Withdrawal</span>
                <p class="color_brown">Cash | <span class="color_purple"> 06/07/2020</span></p>
              </ion-col>
              <ion-col size="5" class="right_col">
                <span>5,000.00</span>
                <span>Balance : 25,000.00</span>
              </ion-col>
              <ion-col size="1">
                <img class="" src="../../../../../assets/imgs/minus_red.svg">
              </ion-col>
            </ion-row>
            <ion-row class="dotted row">
              <ion-col size="6">
                <span>Online Transfer</span>
                <p class="color_brown">Bank | <span class="color_purple"> 06/08/2020</span></p>
              </ion-col>
              <ion-col size="5" class="right_col">
                <span>5,000.00</span>
                <span>Balance : 15,000.00</span>
              </ion-col>
              <ion-col size="1">
                <img class="" src="../../../../../assets/imgs/plus_green.svg">
              </ion-col>
            </ion-row>
            <ion-row class="dotted row">
              <ion-col size="6">
                <span>Cash Withdrawal</span>
                <p class="color_brown">06/09<span class="color_purple">/2020</span></p>
              </ion-col>
              <ion-col size="5" class="right_col">
                <span>5,000.00</span>
                <span>Balance : 20,000.00</span>
              </ion-col>
              <ion-col size="1">
                <img class="" src="../../../../../assets/imgs/minus_red.svg">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" class="adjust_margin">
                <span>Auto Debit EMI - 20 for Other Loan
                </span>
              </ion-col>
              <ion-col size="6">
                <span>A/C No - OL00136.</span>
                <p class="color_brown">System | <span class="color_purple"> 06/06/2020</span></p>
              </ion-col>
              <ion-col size="5" class="right_col">
                <span>5,000.00</span>
                <span>Balance : 30,000.00</span>
              </ion-col>
              <ion-col size="1">
                <img class="" src="../../../../../assets/imgs/plus_green.svg">
              </ion-col>
            </ion-row>
          </div>
        </ion-card-content>
      </ion-card>
      <!--===card_purple close===-->
    </div>
  </div>
</ion-content>