
      <!--===bg_theme_small===-->
      <ion-toolbar>
        <div class="bg_theme bg_theme_small comman_page_padding">
          <ion-row class="">
            <ion-col size="10">
              <a [routerLink]="['/dashboard/home']"><img src="../../../../../../assets/imgs/back-button.svg"></a>
            </ion-col>
            <ion-col size="2">
              <div class="notification_numbur"> <span class="">12</span></div>
              <img class="bell_icon relative" src="../../../../../../assets/imgs/bell.svg">
            </ion-col>
          </ion-row>
        </div>
    </ion-toolbar>
  
    <ion-content>
      <div class="request" *ngIf="rq">
    <ion-card class="card-1" *ngFor="let rqs of rq;let i=index" >
        <ion-row>
               <ion-col size="6">
                 <h1 class="title-row">Member Id</h1>
                 <h1 class="title-row">Name</h1>
                 <h1 class="title-row">Status</h1>
                 <h1 class="title-row" *ngIf="rqs.status != 'null'">Reason</h1>
                 <h1 class="title-row">Edit Member</h1>
               </ion-col>
               <ion-col size="6">
               <h1 class="ap">{{rqs.member_number}}</h1>
               <h1 class="ap">{{rqs.first_name}} {{rqs.last_name}}</h1>
               <h1 *ngIf="rqs.status == 'pending'" class="pe-1" >{{rqs.status}}</h1>
               <h1 *ngIf="rqs.status == 'dissapproved'" class="dis-1" >{{rqs.status}}</h1>
               <h1 *ngIf="rqs.status == 'active'" class="ap-1" >{{rqs.status}}</h1>
               <h1 class="ap" >{{rqs.remarks}}</h1>
               <br><button type="button" class="extra_small_gray_btn" (click)="edit_member(Id=rqs.id)">Edit</button>
              </ion-col>
        </ion-row>  
    </ion-card>
    <!-- <ion-card class="card-1">
      <ion-row>
             <ion-col size="6">
               <h1 class="title-row">M Id</h1>
               <h1 class="title-row">Name</h1>
               <h1 class="title-row">Status</h1>
               <h1 class="title-row">Reason</h1>
             </ion-col>
             <ion-col size="6">
             <h1 class="ap">001</h1>
             <h1 class="ap">Rakesh</h1>
             <h1 class="pe-1" >Pennding</h1>
             <h1 class="ap" ></h1>
            </ion-col>
      </ion-row>  
  </ion-card>
  <ion-card class="card-1">
    <ion-row>
           <ion-col size="6">
             <h1 class="title-row">M Id</h1>
             <h1 class="title-row">Name</h1>
             <h1 class="title-row">Status</h1>
             <h1 class="title-row">Reason</h1>
           </ion-col>
           <ion-col size="6">
           <h1 class="ap">001</h1>
           <h1 class="ap">Rakesh</h1>
           <h1 class="dis-1" >Dispproval</h1>
           <h1 class="ap" > Photo not match</h1>
          </ion-col>
    </ion-row>  
  </ion-card> -->
  </div>
    </ion-content>
  
  