<ion-content>
  <div class="add_new_member_page">
    <div class="bg_theme comman_page_padding bg_theme_small">
      <ion-row>
        <h1>Add New Member</h1>
      </ion-row>
    </div>
    <ion-row class="row_progress">
      <ion-col>
        <div class="circle_purple relative"><span>1</span></div>
        <div class="circle_white relative"><span>2</span></div>
        <div class="circle_white relative"><span>3</span></div>
        <div class="circle_white relative"><span>4</span></div>
      </ion-col>
      <ion-progress-bar class=""  value="0.25"></ion-progress-bar>
    </ion-row>
    <div class="comman_page_headline_2">
      <h2 class="ion-text-left">Personal Details</h2>
    </div>
    <div class="add_member_form comman_page_padding">
      <ion-card class="card_purple comman_input_field box_shadow">
        <ion-card-content>
          <ion-item lines="none">
            <ion-label position="floating">Enter Member Name</ion-label>
            <ion-input type="text" [(ngModel)]="First_name"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="floating">Last Name</ion-label>
            <ion-input type="text" [(ngModel)]="Last_name"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="floating">Father Name</ion-label>
            <ion-input type="text" [(ngModel)]="Father_name"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="floating">Husband/wife Name</ion-label>
            <ion-input type="text" [(ngModel)]="Husband_wife_name"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="floating">Date of Birth</ion-label>
            <ion-input type="number" ><ion-datetime  placeholder="Select Date" [(ngModel)]="D_O_B" class="actual-time-label" ></ion-datetime></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-select class="custom-options" placeholder="Marital Status" [(ngModel)]="Marital_status">
              <ion-select-option value="Married">Married</ion-select-option>
              <ion-select-option value="Unmarried">Unmarried</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none">
            <ion-select class="custom-options" placeholder="Occupation" [(ngModel)]="Occupation">
              <ion-select-option value="Employee">Employee</ion-select-option>
              <ion-select-option value="Business">Business</ion-select-option>
              <ion-select-option value="Student">Student</ion-select-option>
              <ion-select-option value="Farmer">Farmer</ion-select-option>
              <ion-select-option value="SelfEmployed">SelfEmployed</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" [(ngModel)]="Email"></ion-input>
          </ion-item>
          <div class="">
            <ion-radio-group class="gender_radio_inputs" [(ngModel)]="gender">
              <ion-item lines="none" class="radio">
                <ion-label >Male</ion-label> <br>
                <ion-radio slot="start" value="Male" class="input_type_radio"></ion-radio>
              </ion-item>
              <ion-item lines="none" class="radio">
                <ion-label>Female</ion-label> <br>
                <ion-radio slot="start" value="Female" class="input_type_radio"></ion-radio>
              </ion-item>
              <ion-item lines="none" class="radio">
                <ion-label>Others</ion-label> <br>
                <ion-radio slot="start" value="Others" class="input_type_radio"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>
          <div class="add_member_form_btns">
            <button class="small_btn_gray" [routerLink]="['/dashboard/home/add-member']">Back</button>
            <button class="gradient_fill_btn small_btn_filled"(click)="next()">Next</button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>