<ion-content>
  <div class="member_kyc_page">
    <div class="bg_theme comman_page_padding bg_theme_small">
      <ion-row>
        <h1>Member KYC</h1>
      </ion-row>
    </div>
    <ion-row class="row_progress">
      <ion-col>
        <div class="circle_white relative"><span>1</span></div>
        <div class="circle_white relative"><span>2</span></div>
        <div class="circle_white relative"><span>3</span></div>
        <div class="circle_purple relative"><span>4</span></div>
      </ion-col>
      <ion-progress-bar class=""  value="1"></ion-progress-bar>
    </ion-row>
    <div class="comman_page_headline_2">
      <h2 class="ion-text-left">Member's KYC Details</h2>
    </div>
    <div class="comman_page_padding member_kyc_form">
      <ion-card class="card_purple comman_input_field box_shadow">
        <ion-list>
          <ion-card *ngFor="let img of images; index as pos" text-wrap>
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-img [src]="img.path"></ion-img>
            </ion-thumbnail>
            <ion-label>
              {{ img.name }}
            </ion-label>
         
            <ion-button slot="end" fill="clear" (click)="deleteImage(img, pos)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
            
          </ion-item>
          <ion-item>
            <ion-button *ngIf="img" slot="end" fill="clear" (click)="startUpload(img)">
              <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
            </ion-button>
          </ion-item>
          </ion-card>
        </ion-list>
        <ion-item color="primary" *ngIf="adhar_f_show == 'yes'" class="ion-margin">
          <ion-button fill="clear" expand="full" color="light" (click)="open()"   >
            <ion-icon slot="start"  name="adhar_front"></ion-icon>
            Select Aadhar Front Image </ion-button>
        </ion-item>
        <ion-item color="primary" *ngIf="adhar_b_show == 'yes'"  class="ion-margin">
          <ion-button fill="clear" expand="full" color="light" (click)="selectImage()">
            <ion-icon slot="start" name="adhar_back"></ion-icon>
            Select Aadhar Back-side Image </ion-button>
        </ion-item>
        <ion-item color="primary" *ngIf="pan_show == 'yes'"  class="ion-margin">
          <ion-button fill="clear" expand="full" color="light" (click)="selectImage()">
            <ion-icon slot="start" name="pan"></ion-icon>
            Select Pan Image </ion-button>
          </ion-item>
        <ion-item color="primary" *ngIf="selfie_show == 'yes'"  class="ion-margin">
          <ion-button fill="clear" expand="full" color="light" (click)="selectImage()">
            <ion-icon slot="start" name="selfie"></ion-icon>
            Selec Member Image </ion-button>
        </ion-item>
        <ion-item color="primary" *ngIf="sign_show == 'yes'"  class="ion-margin">
          <ion-button fill="clear" expand="full" color="light" (click)="selectImage()">
            <ion-icon slot="start" name="sign"></ion-icon>
            Select Member Sign Image </ion-button>
        </ion-item>
        
        <div class="add_member_form_btns" >
          <button class="small_btn_gray" [routerLink]="['/address-details/kyc']">Back</button>
          <button class="gradient_fill_btn small_btn_filled"  [routerLink]="['preview']"   >Submit</button>
        </div>
      </ion-card>
    </div>
    <!--===member_kyc_form===-->
  </div>
  <!--===member KYC page close-->
</ion-content>
