
  <ion-toolbar>
    <div class="beneficiaries_page">
      <!--===bg_theme_small===-->
      <div class="bg_theme bg_theme_small comman_page_padding">
        <ion-row class="">
          <ion-col size="10">
            <a [routerLink]="['/transaction/saving-credit']"><img src="../../../assets/imgs/back-button.svg"></a>
          </ion-col>
        </ion-row>
       </div>
       </div>
  </ion-toolbar>
  <ion-content>
<div class="select_app">
     <h2>Select Payment Method</h2>
</div>
<div class="select_app_outer">
  <ion-list class="select_option" >
    <ion-radio-group [(ngModel)]="app_response" > 
    <ion-item>
      <ion-label><img src="../../../../../assets/imgs/phone_pay.jpg" class="select_img" ></ion-label>
      <ion-radio slot="end"  value="phone_pay" ></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label><img src="../../../../../assets/imgs/paytm.jpg" class="select_img"></ion-label>
      <ion-radio slot="end" value="paytm" ></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label><img src="../../../../../assets/imgs/amazon-pay.png" class="select_img"></ion-label>
      <ion-radio slot="end" value="amazon_pay" ></ion-radio>
    </ion-item>

    <ion-item  lines="none">
      <ion-label><img src="../../../../../assets/imgs/g_pay.jpg" class="select_img"></ion-label>
      <ion-radio slot="end"  (click)="opengpay()" value="g_pay" ></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>
</div>
<div class="upi">
  <button class="gradient_fill_btn large_btn_filled-2" (click)="next()" >Make Payment</button>
</div>


</ion-content>
