.login_btn {
    color: white;
    border-radius: 80px;
}

.login_page_bottom_row {
    margin-top: 30% !important;
}

.gradient_fill_btn2 {
    background-image: linear-gradient( 90deg, #0d00d7, #6a297e);
    border: 1px solid #8f09b8;
}