<ion-app>
  <meta name="color-scheme" content="light" />
  
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <div *ngIf="ProfileImg">
          <ion-list-header class="avatar" >
            
            <ion-avatar>
              <img *ngIf="ProfileImg.member_image== ''" src ="../../assets/imgs/avtar.png" /> 
              <img *ngIf="ProfileImg.member_image" src ="{{ProfileImg.member_image}}" /> 
            </ion-avatar>
          <span class="profile_name">{{ProfileImg.first_name}} {{ProfileImg.last_name}}</span>
         
        </ion-list-header>
      </div>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index" class="md hydrated">
            <ion-item class="item-lines-none"   *ngIf="p.class=='logout'" (click)="logout()">
              <img class="sidebar-icons"[src]="p.iconsrc"/>
              <ion-label ngcontent-mcb-c133=""  class="sc-ion-label-md-h sc-ion-label-md-s md hydrated last-child-border-none ">{{ p.title }}</ion-label>
          </ion-item>
            <ion-item *ngIf="p.class!='logout'"  (click)="selectedIndex = i" id="{{ p.class }}" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i" class="item md item-lines-none in-list ion-activatable ion-focusable hydrated item-label">
                       <img class="sidebar-icons"[src]="p.iconsrc"/>
               <ion-label ngcontent-mcb-c133=""  class="sc-ion-label-md-h sc-ion-label-md-s md hydrated last-child-border-none ">{{ p.title }}</ion-label>
            </ion-item>
         </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
