<ion-content>
  <div class="rd_fd_confirmation_page">
    <!--===bg_theme_small===-->
    <div class="bg_theme bg_theme_small comman_page_padding">
      <ion-row class="">
        <ion-col size="10">
          <a [routerLink]="['/dashboard/home']"><img src="../../../../../../assets/imgs/back-button.svg"></a>
        </ion-col>
        <ion-col size="2">
          <div class="notification_numbur"> <span class="">12</span></div>
          <img class="bell_icon relative" src="../../../../../../assets/imgs/bell.svg">
        </ion-col>
      </ion-row>
      <ion-row>
        <h1>New RD Account</h1>
      </ion-row>
    </div>
    <!--===bg_theme_small End==-->
    <div class="comman_page_headline">
      <h2 class="color_theme_green">RD Open Successfully !</h2>
    </div>
    <div class="rd_fd_detials comman_page_padding">
      <p>Dear <span class="color_theme_purple"> Customer Name</span><br>
        We have pleasure in confirming details of the following amount held in deposit with us. Thank you for banking
        with us.</p>
    </div>
    <div class="comman_page_padding">
      <div>
        <!--===Card_purple===-->
        <ion-card class="card_purple box_shadow">
          <!--===ion-card-header===-->
          <ion-card-header class="comman_card_header">
            <ion-row>
              <ion-col size="10">
                <h3>RD Details</h3>
              </ion-col>
              <ion-col size="2" class="">
                <img src="../../../../../../assets/imgs/pdf_icon.svg" class="float_right pdf_icon">
              </ion-col>
            </ion-row>
          </ion-card-header>
          <!--===ion-card-content===-->
          <ion-card-content>
            <div class="card_details">
              <ion-row class="dotted">
                <ion-col size="4">
                  <div>Account</div>
                </ion-col>
                <ion-col size="1">
                  <div>:</div>
                </ion-col>
                <ion-col size="7">
                  <div> RD03391</div>
                </ion-col>
              </ion-row>
              <ion-row class="dotted">
                <ion-col size="4">
                  <div>Scheme Code</div>
                </ion-col>
                <ion-col size="1">
                  <div>:</div>
                </ion-col>
                <ion-col size="7">
                  <div> DEV RD 2(April 21)</div>
                </ion-col>
              </ion-row>
              <ion-row class="dotted">
                <ion-col size="4">
                  <div>Scheme Name</div>
                </ion-col>
                <ion-col size="1">
                  <div>:</div>
                </ion-col>
                <ion-col size="7">
                  <div>Dev Rising RD 2</div>
                </ion-col>
              </ion-row>
              <ion-row class="dotted">
                <ion-col size="4">
                  <div>Term</div>
                </ion-col>
                <ion-col size="1">
                  <div>:</div>
                </ion-col>
                <ion-col size="7">
                  <div>24 Months</div>
                </ion-col>
              </ion-row>
              <ion-row class="dotted">
                <ion-col size="4">
                  <div>Interest @</div>
                </ion-col>
                <ion-col size="1">
                  <div>:</div>
                </ion-col>
                <ion-col size="7">
                  <div>8.0%</div>
                </ion-col>
              </ion-row>
              <ion-row class="dotted">
                <ion-col size="4">
                  <div>Amount</div>
                </ion-col>
                <ion-col size="1">
                  <div>:</div>
                </ion-col>
                <ion-col size="7">
                  <div>INR 500.00</div>
                </ion-col>
              </ion-row>
              <ion-row class="dotted">
                <ion-col size="4">
                  <div>Frequency</div>
                </ion-col>
                <ion-col size="1">
                  <div>:</div>
                </ion-col>
                <ion-col size="7">
                  <div>Monthly</div>
                </ion-col>
              </ion-row>
              <ion-row class="dotted">
                <ion-col size="4">
                  <div>Open Date</div>
                </ion-col>
                <ion-col size="1">
                  <div>:</div>
                </ion-col>
                <ion-col size="7">
                  <div>20/08/2021</div>
                </ion-col>
              </ion-row>
              <ion-row class="dotted">
                <ion-col size="4">
                  <div>Maturity Date</div>
                </ion-col>
                <ion-col size="1">
                  <div>:</div>
                </ion-col>
                <ion-col size="7">
                  <div>20/08/2021</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <div>Maturity Value</div>
                </ion-col>
                <ion-col size="1">
                  <div>:</div>
                </ion-col>
                <ion-col size="7">
                  <div>13,046.00 (approx.)</div>
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
        <!--====Card purple End====-->
      </div>
    </div>
  </div>
  <!--===rd_fd_confirmation_page End===-->
</ion-content>