<ion-content>
  <div class="rd_fd_confirmation_page">
    <!--===bg_theme_small===-->
    <div class="bg_theme bg_theme_small comman_page_padding">
      
      <ion-row>
        <h1>New RD Account</h1>
      </ion-row>
    </div>
    <!--===bg_theme_small End==-->
    <div class="comman_page_headline">
      <h2 class="color_theme_green">Your request for New Rd Account Submitted Successfully <span></span> Please wait for Approval!</h2>
    </div>
    <div class="rd_fd_detials comman_page_padding" *ngIf="user">
      <p>Dear <span class="color_theme_purple"> {{user.first_name}} </span><br>
        We have pleasure in confirming details of the following amount held in deposit with us. Thank you for banking
        with us.</p>
    </div>
    <div class="comman_page_padding" *ngIf="RdDetails">
      <div>
        <!--===Card_purple===-->
        <ion-card class="card_purple box_shadow">
          <!--===ion-card-header===-->
          <ion-card-header class="comman_card_header">
            <ion-row>
              <ion-col size="10">
                <h3>RD Details</h3>
              </ion-col>
              
            </ion-row>
          </ion-card-header>
          <!--===ion-card-content===-->
          <ion-card-content>
            <div class="card_details">
              <ion-row class="dotted">
                <ion-col size="4">
                  <div>Account</div>
                </ion-col>
                <ion-col size="1">
                  <div>:</div>
                </ion-col>
                <ion-col size="7">
                  <div> {{RdDetails.account_number}}</div>
                </ion-col>
              </ion-row>
              <ion-row class="dotted">
                <ion-col size="4">
                  <div>Scheme Code</div>
                </ion-col>
                <ion-col size="1">
                  <div>:</div>
                </ion-col>
                <ion-col size="7">
                  <div> {{RdDetails.scheme}}</div>
                </ion-col>
              </ion-row>
              <ion-row class="dotted">
                <ion-col size="4">
                  <div>Term</div>
                </ion-col>
                <ion-col size="1">
                  <div>:</div>
                </ion-col>
                <ion-col size="7">
                  <div>{{RdDetails.total_installment}} Month</div>
                </ion-col>
              </ion-row>
              <ion-row class="dotted">
                <ion-col size="4">
                  <div>Interest </div>
                </ion-col>
                <ion-col size="1">
                  <div>:</div>
                </ion-col>
                <ion-col size="7">
                  <div> {{RdDetails.interest_rate}}%</div>
                </ion-col>
              </ion-row>
              <ion-row class="dotted">
                <ion-col size="4">
                  <div>Amount</div>
                </ion-col>
                <ion-col size="1">
                  <div>:</div>
                </ion-col>
                <ion-col size="7">
                  <div>INR {{RdDetails.principal_amount}}</div>
                </ion-col>
              </ion-row>
              <ion-row class="dotted">
                <ion-col size="4">
                  <div>Frequency</div>
                </ion-col>
                <ion-col size="1">
                  <div>:</div>
                </ion-col>
                <ion-col size="7">
                  <div>Monthly</div>
                </ion-col>
              </ion-row>
              <ion-row class="dotted">
                <ion-col size="4">
                  <div>Open Date</div>
                </ion-col>
                <ion-col size="1">
                  <div>:</div>
                </ion-col>
                <ion-col size="7">
                  <div>{{RdDetails.open_date}}</div>
                </ion-col>
              </ion-row>
              <ion-row class="dotted">
                <ion-col size="4">
                  <div>Maturity Date</div>
                </ion-col>
                <ion-col size="1">
                  <div>:</div>
                </ion-col>
                <ion-col size="7">
                  <div>{{RdDetails.maturity_date}}</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <div>Maturity Value</div>
                </ion-col>
                <ion-col size="1">
                  <div>:</div>
                </ion-col>
                <ion-col size="7">
                  <div>INR {{RdDetails.maturity_amount}}</div>
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
        <!--====Card purple End====-->
        <ion-row>
          <ion-col>
            <div class="ion-text-center">
              <button class="gradient_fill_btn large_btn_filled"  [routerLink]="['/dashboard/home']" >Go Home</button>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
  <!--===rd_fd_confirmation_page End===-->
</ion-content>