<ion-content class="ion-text-center clor">
  <div class="absolute">
    <div class="button_row">
      <div>
        <Button class="rd_btn" [routerLink]="['/open-new-rd']"  (click)="close()"> <img src="../../../../assets/imgs/RD Icon.svg" alt=""> Open New RD</Button>
      </div>
      <div>
        <Button [routerLink]="['/add-new-fd']" (click)="close()"><img src="../../../../assets/imgs/FD  icon.svg" alt=""> Open New FD</Button>
      </div>
      <div>
        <Button [routerLink]="['/dashboard/home/add-member']" (click)="close()"><img src="../../../../assets/imgs/add-person-icon.svg" alt=""> Add New Member</Button>
      </div>
    </div>
    <div>
      <div class="ion-text-center">
        <button class="modal_close_btn" (click)="close()"><img src="../../../../assets/imgs/modal_close_icon.svg"></button>
      </div>
    </div>
  </div>
</ion-content>