<ion-content> 

      <!--===bg_theme_small===-->
      <div class="bg_theme bg_theme_small comman_page_padding">
        <ion-row class="">
          <ion-col size="10">
            <a [routerLink]="['/wbbeneficiary']"><img src="../../../../../../assets/imgs/back-button.svg"></a>
          </ion-col>
          <ion-col size="2">
            
          </ion-col>
        </ion-row>
      </div>

<ion-row *ngIf="bene_data.length != ''" class="detail_row ion-padding">
  <ion-list class="left">
    <p>Name:</p>
  </ion-list>
  <ion-list class="right">
    <p>{{ bene_data.name }}</p>
  </ion-list>
  <ion-list class="left">
    <p>Bank Name:</p>
  </ion-list>
  <ion-list class="right">
    <p>{{ bene_data.bank_name }}</p>
  </ion-list>
  <ion-list class="left">
    <p>IFSC Code:</p>
  </ion-list>
  <ion-list class="right">
    <p>{{ bene_data.ifsc }}</p>
  </ion-list>
  <ion-list class="left">
    <p>Account Number:</p>
  </ion-list>
  <ion-list class="right">
    <p>{{ bene_data.account_no }}</p>
  </ion-list>
  <ion-list class="left">
    <p>Mobile No:</p>
  </ion-list>
  <ion-list class="right">
    <p>{{ bene_data.mobile_no }}</p>
  </ion-list>

</ion-row>
<ion-row class="ion-padding ion-text-center">
  <!-- <ion-button size="small" color="tertiary" (click)="add_new()" class=" ion-align-center " >Edit</ion-button> -->

 
  <ion-button size="small" color="btn" (click)="presentAlertConfirm()" class=" ion-align-center" >Delete</ion-button>

 
  <ion-button size="small" color="btn"  (click)="transfer_page()" class=" ion-align-center" >Transfer Money</ion-button>
</ion-row>
</ion-content>

