<ion-content>
  <div class="dashboard_page ">
    <!--===bg_theme===-->
    <div class="bg_theme  comman_page_padding color_theme_white" *ngFor="let Saving of Saving">
      <ion-row class="header_row">
        <ion-col size="6">
          <div class="wallet_bal">
            <img src="../../assets/imgs/wallet.svg">
            <div class="balance_status">
              <h1>₹{{Saving.balance_available.toLocaleString('en-IN') }} /-</h1>
              <span>Available Balance</span>
            </div>
          </div>
          <div class="saving_acc">
            <button class="small_btn_filled gradient_fill_btn" (click)="SavingClick('sv', Saving.slug)">Saving
              Account</button>
          </div>
        </ion-col>
        <ion-col size="6" class="right_sec">
          <div class="notification_bell" (click)="presentPopover('any')">
            <img src="../../assets/imgs/bell.svg" class="relative">
            <div class="notification_numbur"><span class="">{{notification.length}}</span></div>
          </div>
            <div class="interest_status clearfix">
              <h2 class="">Today's Interest</h2>
              <span class="clearfix">₹{{today_interest}}/-</span>
              <span class="i_rate">
                <p style="font-size: 12px; margin-top: 20px;">Interest Rate /-</p>
                <p style="position: absolute;bottom: 0px;left: 90px;font-size: 12px;">{{Saving.interest_rate}}%</p>
               </span>
            </div>
          
        </ion-col>
      </ion-row>
    </div>
    <div class="card_overlay comman_page_padding ">
      <ion-card class="card_purple  payments_card">
        <!--===payments_section===-->
        <div class="payments_section ion-text-center">
          <div class="send_money">
           <a (click)="transaction()"> <img src="../../assets/imgs/send_money_icon.svg"></a>
            <div> <span>Send</span></div>
          </div>
          <div class="add_member">
           <a [routerLink]="['add-member']"> <img src="../../assets/imgs/add member 307.svg"></a>
            <div><span>Add Member</span></div>
          </div>
          <div class="loan_request">
            <img src="../../assets/imgs/loan_req_icon.svg">
            <div><span>Loan Request</span></div>
          </div>
          <div class="transfer">
            <a [routerLink]="['/beneficiaries']"><img src="../../assets/imgs/transefer_icon.svg"></a>
            <div><span>Transfer</span></div>
          </div>
        </div>
        <!--===payments_section close===-->
      </ion-card>
    </div>

    <!--====ion-slides start====-->
    <ion-slides #slideWithNav2 pager="{{RdResponse.length > 1 ? true : false}}" [options]="slideOptsOne" class="my-slides" *ngIf="RdResponse.length > 0">
      <!--===ion slide (1)===-->
      <ion-slide class="home_page_slider margin_for_slide" *ngFor="let RdResponse of RdResponse;let i=index" [routerLink]="['rdview']"  >
        <div class="funds comman_page_padding relative">
          <ion-card class="account_details_card card_gray" >
            <ion-row>
              <ion-col size="3">
                <div class="circle ion-text-center">
                  <!-- <img src="../../assets/imgs/RD Icon.svg"> -->
                </div>
              </ion-col>
              <ion-col size="9" class="right_side">
                <div class="card_header flex">
                  <span>Recurring Amount</span>
                  <span class="rd_number">{{RdResponse.account_number}}</span>
                  <!-- <img class="plus_icon" src="../../assets/imgs/plus_icon.svg"> -->
                </div>
                <div class="amount_figure">
                  <h3>₹{{RdResponse.total_amount.toLocaleString('en-IN') }}/-</h3>
                </div>
                <div class="amount_details clearfix">
                  <div class="text_left">
                    <span>Maturity Amount</span>
                    <span>Maturity Date</span>
                    <span>Due Installment</span>
                  </div>
                  <div class="right_bar">
                    <span>: ₹{{RdResponse.maturity_amount.toLocaleString('en-IN') }}/-</span>
                    <span *ngIf="RdResponse.status == 'Closed'" class="maturity-date">: CLOSED</span>
                    
                    <span *ngIf="RdResponse.status != 'Closed'" class="maturity-date-view">: {{RdResponse.maturity_date}}</span>
                    <span class="color_theme_red">: {{RdResponse.pending_installment}}</span>
                  </div>
                </div>
              </ion-col>
              <span class="background_font_faded">RD</span>
            </ion-row>
            <div class="progressbar">
              <ion-progress-bar value="0.6"></ion-progress-bar>
            </div>
          </ion-card>
          <!-- <div> <img class="plus_icon" src="../../assets/imgs/plus_icon.svg"></div> -->
        </div>
      </ion-slide>

      
    </ion-slides>
    <!--====ion slides End====-->

    <!--=====card fd ======-->
    <ion-slides #slideWithNav3 pager="{{FdResponse.length > 1 ? true : false}}" [options]="slideOptsOne" class="my-slides" *ngIf="FdResponse.length > 0">
      <ion-slide *ngFor="let FdResponse of FdResponse; let i=index" >
        <div class="funds comman_page_padding relative">
          <ion-card class="account_details_card card_gray" [routerLink]="['fdview']">
            <ion-row>
              <ion-col size="3">
                <div class="circle ion-text-center">
                  <!-- <img src="../../assets/imgs/FD  icon.svg"> -->
                </div>
              </ion-col>
              <ion-col size="9" class="right_side">
                <div class="card_header flex">
                  <span>Fixed Deposit</span>
                  <span class="rd_number">{{FdResponse.account_number}}</span>
                </div>
                <div class="amount_figure">
                  <h3>₹{{FdResponse.total_amount.toLocaleString('en-IN') }}/-</h3>
                </div>
                <div class="amount_details clearfix">
                  <div class="text_left">
                    <span>Maturity Amount</span>
                    <span>Maturity Date</span>
                  </div>
                  <div class="right_bar">
                    <span>: ₹{{FdResponse.maturity_amount.toLocaleString('en-IN') }}/-</span>
                    <span *ngIf="FdResponse.status == 'Closed'" class="maturity-date">: CLOSED</span>
                    <span *ngIf="FdResponse.status != 'Closed'" class="maturity-date-view">: {{FdResponse.maturity_date}}</span>
                  </div>
                </div>
              </ion-col>
              <span class="background_font_faded">FD</span>
            </ion-row>
            <div class="progressbar">
              <ion-progress-bar value="0.3"></ion-progress-bar>
            </div>
          </ion-card>
          <!-- <div> <img class="plus_icon" src="../../assets/imgs/plus_icon.svg"></div> -->
        </div>
      </ion-slide>
    </ion-slides>

    <!-- fd slide ends  -->

    <!-- dd slide -->

    <ion-slides *ngIf="DdResponse.length > 0" #slideWithNav pager="true" pager="{{DdResponse.length > 1 ? true : false}}" [options]="slideOptsOne"class="my-slides" >
      <ion-slide #slidepage *ngFor="let DdResponse of DdResponse; let i=index " (click)="DdClick('dd', DdResponse.slug)" >
        <div class="funds comman_page_padding relative">
          <ion-card class="account_details_card card_gray" [routerLink]="['fdview']">
            <ion-row>
              <ion-col size="3">
                <div class="circle ion-text-center">
                  <!-- <img src="../../assets/imgs/FD  icon.svg"> -->
                </div>
              </ion-col>
              <ion-col size="9" class="right_side">
                <div class="card_header flex">
                  <span>Daily Deposit</span>
                  <span class="rd_number">{{DdResponse.account_number}}</span>
                </div>
                <div class="amount_figure">
                  <h3>₹{{ DdResponse.total_amount.toLocaleString('en-IN') }}</h3>
                </div>
                <div class="amount_details clearfix">
                  <div class="text_left">
                    <span>Maturity Amount</span>
                    <span>Maturity Date</span>
                  </div>
                  <div class="right_bar">
                    <span>: ₹{{DdResponse.maturity_amount.toLocaleString('en-IN') }}/-</span>
                    <span *ngIf="DdResponse.status == 'Closed'" class="maturity-date">: CLOSED</span>
                    <span *ngIf="DdResponse.status != 'Closed'" class="maturity-date-view">: {{DdResponse.maturity_date}}</span>
                  </div>
                </div>
              </ion-col>
              <span class="background_font_faded">DD</span>
            </ion-row>
            <div class="progressbar">
              <ion-progress-bar value="0.3"></ion-progress-bar>
            </div>
          </ion-card>
          <!-- <div> <img class="plus_icon" src="../../assets/imgs/plus_icon.svg"></div> -->
        </div>
      </ion-slide>
    </ion-slides>
    <!-- dd slide end -->

    <!-- dl slide -->

    <ion-slides *ngFor="let DlResponse of DlResponse; let i=index " class="my-slides" >
      <ion-slide (click)="DlClick('dl', DlResponse.slug)" >
        <div class="funds comman_page_padding relative">
          <ion-card class="account_details_card card_gray" [routerLink]="['fdview']">
            <ion-row>
              <ion-col size="3">
                <div class="circle ion-text-center">
                  <!-- <img src="../../assets/imgs/FD  icon.svg"> -->
                </div>
              </ion-col>
              <ion-col size="9" class="right_side">
                <div class="card_header flex">
                  <span>Deposit Loans</span>
                  <span class="rd_number">{{DlResponse.account_number}}</span>
                </div>
                <div class="amount_figure">
                  <h3>₹{{DlResponse.loan_amount.toLocaleString('en-IN') }}/-</h3>
                </div>
                <div class="amount_details clearfix">
                  <div class="text_left">
                    <span>Current Debit Amount</span>
                    <span *ngIf="DlResponse.status != 'Closed'">Opening Date</span>
                  </div>
                  <div class="right_bar">
                    <span>: ₹{{DlResponse.current_debt.toLocaleString('en-IN') }}/-</span>
                    <span *ngIf="DlResponse.status == 'Closed'" class="maturity-date">: CLOSED</span>
                    <span *ngIf="DlResponse.status != 'Closed'" class="maturity-date-view">: {{DlResponse.open_date}}</span>
                  </div>
                </div>
              </ion-col>
              <span class="background_font_faded">DL</span>
            </ion-row>
            <div class="progressbar">
              <ion-progress-bar value="0.3"></ion-progress-bar>
            </div>
          </ion-card>
          <!-- <div> <img class="plus_icon" src="../../assets/imgs/plus_icon.svg"></div> -->
        </div>
      </ion-slide>
    </ion-slides>

    <!-- dl slide ednds -->

    <!-- gl slide -->

    <ion-slides *ngFor="let GlResponse of GlResponse; let i=index " class="my-slides">
      <ion-slide (click)="GlClick('gl', GlResponse.slug)" >
        <div class="funds comman_page_padding relative">
          <ion-card class="account_details_card card_gray">
            <ion-row>
              <ion-col size="3">
                <div class="circle ion-text-center">
                  <!-- <img src="../../assets/imgs/FD  icon.svg"> -->
                </div>
              </ion-col>
              <ion-col size="9" class="right_side">
                <div class="card_header flex">
                  <span>Gold Loans</span>
                  <span class="rd_number">{{OlResponse.account_number}}</span>
                </div>
                <div class="amount_figure">
                  <h3>₹{{GlResponse.loan_amount.toLocaleString('en-IN') }}/-</h3>
                </div>
                <div class="amount_details clearfix">
                  <div class="text_left">
                    <span>Current Debit Amount</span>
                    <span>Opening Date</span>
                  </div>
                  <div class="right_bar">
                    <span>:₹{{GlResponse.current_debt.toLocaleString('en-IN') }}/-</span>
                    <span *ngIf="FdResponse.status == 'Closed'" class="maturity-date">: CLOSED</span>
                    <span *ngIf="FdResponse.status != 'Closed'" class="maturity-date-view">: {{GlResponse.open_date}}</span>
                  </div>
                </div>
              </ion-col>
              <span class="background_font_faded">GL</span>
            </ion-row>
            <div class="progressbar">
              <ion-progress-bar value="0.3"></ion-progress-bar>
            </div>
          </ion-card>
          <!-- <div> <img class="plus_icon" src="../../assets/imgs/plus_icon.svg"></div> -->
        </div>
      </ion-slide>
    </ion-slides>
    
    <!-- gl slide ends -->

    <!-- ol slide -->

    <ion-slides *ngFor="let OlResponse of OlResponse; let i=index " class="my-slides">
      <ion-slide (click)="OlClick('ol', OlResponse.slug)" >
        <div class="funds comman_page_padding relative">
          <ion-card class="account_details_card card_gray">
            <ion-row>
              <ion-col size="3">
                <div class="circle ion-text-center">
                  <!-- <img src="../../assets/imgs/FD  icon.svg"> -->
                </div>
              </ion-col>
              <ion-col size="9" class="right_side">
                <div class="card_header flex">
                  <span>Other Loans</span>
                  <span class="rd_number">{{OlResponse.account_number}}</span>
                </div>
                <div class="amount_figure">
                  <h3>₹{{OlResponse.loan_amount.toLocaleString('en-IN') }}/-</h3>
                </div>
                <div class="amount_details clearfix">
                  <div class="text_left">
                    <span>Current Debit Amount</span>
                    <span *ngIf="OlResponse.status != 'Closed'"  >Opening Date</span>
                  </div>
                  <div class="right_bar">
                    <span>: ₹{{OlResponse.current_debt.toLocaleString('en-IN') }}/-</span>
                    <span *ngIf="OlResponse.status == 'Closed'" class="maturity-date">: CLOSED</span>
                    <span *ngIf="OlResponse.status != 'Closed'" class="maturity-date-view">: {{OlResponse.open_date}}</span>
                  </div>
                </div>
              </ion-col>
              <span class="background_font_faded">OL</span>
            </ion-row>
            <div class="progressbar">
              <ion-progress-bar value="0.3"></ion-progress-bar>
            </div>
          </ion-card>
          <!-- <div> <img class="plus_icon" src="../../assets/imgs/plus_icon.svg"></div> -->
        </div>
      </ion-slide>
    </ion-slides>

    <!-- ol slide ends -->

    <!-- pl slide -->

    <ion-slides *ngFor="let PlResponse of PlResponse; let i=index " class="my-slides" >
      <ion-slide (click)="PlClick('pl', PlResponse.slug)">
        <div class="funds comman_page_padding relative">
          <ion-card class="account_details_card card_gray" [routerLink]="['fdview']">
            <ion-row>
              <ion-col size="3">
                <div class="circle ion-text-center">
                  <!-- <img src="../../assets/imgs/FD  icon.svg"> -->
                </div>
              </ion-col>
              <ion-col size="9" class="right_side">
                <div class="card_header flex">
                  <span>Property Loans</span>
                  <span class="rd_number">{{PlResponse.account_number}}</span>
                </div>
                <div class="amount_figure">
                  <h3>₹{{FdResponse.total_amount.toLocaleString('en-IN') }}/-</h3>
                </div>
                <div class="amount_details clearfix">
                  <div class="text_left">
                    <span>Current Debit Amount</span>
                    <span *ngIf="PlResponse.status != 'Closed'">Opening Date</span>
                  </div>
                  <div class="right_bar">
                    <span>: ₹{{PlResponse.current_debt.toLocaleString('en-IN') }}/-</span>
                    <span *ngIf="PlResponse.status == 'Closed'" class="maturity-date">: CLOSED</span>
                    <span *ngIf="PlResponse.status != 'Closed'" class="maturity-date-view">: {{PlResponse.open_date}}</span>
                  </div>
                </div>
              </ion-col>
              <span class="background_font_faded">PL</span>
            </ion-row>
            <div class="progressbar">
              <ion-progress-bar value="0.3"></ion-progress-bar>
            </div>
          </ion-card>
          <!-- <div> <img class="plus_icon" src="../../assets/imgs/plus_icon.svg"></div> -->
        </div>
      </ion-slide>
    </ion-slides>

    <!-- pl slide ends  -->


  </div>
  <!--===Dashboard page close-->
</ion-content>