<ion-content>
  <div class="open_fd_page">
     <!--===bg_theme_small===-->
     <div class="bg_theme bg_theme_small comman_page_padding">
      <ion-row class="">
        <ion-col size="10">
          <a [routerLink]="['/dashboard/home/fdview']"><img src="../../../../../../assets/imgs/back-button.svg"></a>
        </ion-col>
        <ion-col size="2">
          <div class="notification_numbur"> <span class="">12</span></div>
          <img class="bell_icon relative" src="../../../../../../assets/imgs/bell.svg">
        </ion-col>
      </ion-row>
      <ion-row>
        <h1>Open New FD Account</h1>
      </ion-row>
    </div>
    <!--===bg_theme_small End==-->
    <div class="comman_page_headline">
      <h2>Fill Details Below</h2>
    </div>
    <ion-row>
      <ion-col size="7"></ion-col>
      <ion-col size="5">
        <button  class="small_btn_filled gradient_fill_btn" (click)="schemes()" >FD Schemes</button>
      </ion-col>
    </ion-row>
    <div class="rd_fd_form comman_page_padding">
      <ion-item lines="none" *ngIf="schemesdetails">
        <ion-select class="custom-options" placeholder="Select Scheme*" [(ngModel)]="scheme" class="scheme" >
          <ion-select-option  *ngFor="let schemesdetail of schemesdetails;let i=index" value={{schemesdetail.id}} required>  {{schemesdetail.scheme_name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <!-- <ion-row><ion-item lines="none" >
        <ion-col > 

        </ion-col>
      </ion-item></ion-row> -->
      <ion-item lines="none">
        <ion-label position="floating">FD Amount*</ion-label>
        <ion-input type="text" class="amount" [(ngModel)]="amount"></ion-input>
      </ion-item>

      <div class="address_confirmation">
        <p>Joint A/C</p>
        <ion-radio-group class="adress_radio_input" style="display: flex;" [(ngModel)]="jac" >
          <ion-item lines="none" class="radio">
            <ion-label>Yes</ion-label> 
            <ion-radio slot="start"   class="input_type_radio" value="1" (click)=jointac(2)></ion-radio>
          </ion-item>
          <ion-item lines="none" class="radio">
            <ion-label>NO</ion-label> 
            <ion-radio slot="start"  class="input_type_radio" value="0" (click)=jointac(1)></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
      <div class="slider_form" *ngIf=j>
        <ion-item lines="none">
          <ion-label position="floating">Enter Member ID</ion-label>
          <ion-input type="number" maxlength="4" [(ngModel)]="joint"></ion-input>
        </ion-item>
      </div>
      <div class="address_confirmation">
        <p>Nominee Available</p>
        <div>
          <ion-radio-group class="adress_radio_input" style="display: flex;" [(ngModel)]="is_nominee">
            <ion-item lines="none" class="radio">
              <ion-label>Yes</ion-label> 
              <ion-radio slot="start"   class="input_type_radio" value="1"  (click)=showform(2)></ion-radio>
            </ion-item>
            <ion-item lines="none" class="radio">
              <ion-label>NO</ion-label> 
              <ion-radio slot="start"  class="input_type_radio" value="0" (click)=showform(1)></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>
      </div>
      <div class="slider_form" *ngIf=show_detail>
      <ion-item lines="none">
        <ion-label position="floating">Enter Nominee Name*</ion-label>
        <ion-input type="text" [(ngModel)]="n_name"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">Relation with Nominee*</ion-label>
        <ion-input type="text" [(ngModel)]="rel_nomineee"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">Nominee Address*</ion-label>
        <ion-input type="text" [(ngModel)]="a_nominee"></ion-input>
      </ion-item>
    </div>
    
    <div class="address_confirmation">
      <p>Fd for Minor</p>
      <ion-radio-group class="adress_radio_input" style="display: flex;" [(ngModel)]="is_minor">
        <ion-item lines="none" class="radio">
          <ion-label>Yes</ion-label> 
          <ion-radio slot="start"   class="input_type_radio" value="1" (click)=showform1(2)></ion-radio>
        </ion-item>
        <ion-item lines="none" class="radio">
          <ion-label>NO</ion-label> 
          <ion-radio slot="start"  class="input_type_radio" value="0" (click)=showform1(1)></ion-radio>
        </ion-item>
      </ion-radio-group>
    </div>
    
    <div class="slider_form" *ngIf=form >
      <ion-item lines="none"*ngIf="minordetails">
        <ion-select class="custom-options" placeholder="Select Minor (if any)" [(ngModel)]="minor">
          <ion-select-option *ngFor="let minordetail of minordetails;let i=index" value={{minordetail.id}}>{{minordetail.first_name}} {{minordetail.last_name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-row>
        <ion-col size="12">
          <button class="extra_small_gray_btn" (click)="add_minor()">Add
            Minor</button>
        </ion-col>
      </ion-row>
    </div>

    <div class="address_confirmation">
      <p>Senior Citizen</p>
      <ion-radio-group class="adress_radio_input" style="display: flex;" [(ngModel)]="senior" >
        <ion-item lines="none" class="radio">
          <ion-label>Yes</ion-label> 
          <ion-radio slot="start"   class="input_type_radio" value="1" (click)=issenior(2)></ion-radio>
        </ion-item>
        <ion-item lines="none" class="radio">
          <ion-label>NO</ion-label> 
          <ion-radio slot="start"  class="input_type_radio" value="0" (click)=issenior(1)></ion-radio>
        </ion-item>
      </ion-radio-group>
    </div>

      <ion-row>
        <ion-col size="12" class="calc_maturity">
          <button class="large_gray_btn" id="cal">Calculate Maturity</button>
        </ion-col>
      </ion-row>
    </div>
    <div class="rd_fd_amt_details comman_page_padding">
      <ion-row>
        <ion-col size="6">
          <p class="color_theme_gray">Deposited Amount :</p>
        </ion-col>
        <ion-col size="6">
          <p class="color_theme_purple">60,000</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <p class="color_theme_gray">Maturity Amount :</p>
        </ion-col>
        <ion-col size="6">
          <p class="color_theme_purple">66,630.00</p>
        </ion-col>
      </ion-row>
    </div>
    <ion-row class="comman_page_padding page_footer_row" *ngIf="SavingDetails">
      <ion-col size="12" *ngFor="let SavingDetails of SavingDetails;let i=index">
        <ion-radio-group [(ngModel)]="is_saving" >
          <ion-item lines="none" class="radio">
            <ion-label >Deposit From Saving Account : {{SavingDetails.account_number}}</ion-label> <br>
            <ion-radio slot="start" class="input_type_radio"value="{{SavingDetails.account_number}}" (click)="saving(1)">{{SavingDetails.account_number}}</ion-radio>
          </ion-item>
        </ion-radio-group>
        <span class="margin_for_element">Available Balance :  {{SavingDetails.balance_available}}</span>
      </ion-col>
    </ion-row>
    <div class="page_footer_btn ion-text-center">
      <button class="gradient_fill_btn large_btn_filled" (click)="openfd()">Open FD</button>
    </div>
  </div>
</ion-content>

