<ion-toolbar>
  <!--- acconts header-->

  <div class="bank_beneficiary_list_page">
    <!--===bg_theme_small===-->
    <div class="bg_theme bg_theme_small comman_page_padding">
     <ion-row class="">
       <ion-col size="10">
         <a [routerLink]="['/transaction']"><img src="../../../../assets/imgs/back-button.svg"></a>
       </ion-col>
       <ion-col size="2">
         <div class="notification_numbur"> <span class="">12</span></div>
         <img class="bell_icon relative" src="../../../../assets/imgs/bell.svg">
       </ion-col>
     </ion-row>
     <ion-row>
       <h1>Beneficiary List of Banks</h1>
     </ion-row>
   </div>
   </div>
   <!--- accounts header end-->
</ion-toolbar>

<ion-content>
  <!-- <div class="btn_cover ion-text-center">
    <ion-button size="small"  (click) = "add_ben()" class="ion-margin ion-align-center" >Add New Beneficiary</ion-button >
  </div>
  <div class="row" *ngIf="beneficiary_list != ''">
    <h3 class="ion-text-center">Select Benificiary</h3>
    <ion-row class="amount-details md hydrated first-column new_column" *ngFor="let beneficiary_list of beneficiary_list" (click)="check_ben(beneficiary_list.beneficiary_id)">
      <ion-col size="8" class="md hydrated" style="flex: 0 0 calc(calc(8 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(8 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(8 / var(--ion-grid-columns, 12)) * 100%);">
      
        <p class="fade-text-one">
          Account Number
        </p>
        <h2 class="amount-blue acc_no">{{beneficiary_list.account_no}}</h2>
          </ion-col>
      <ion-col size="4" class="md hydrated" style="flex: 0 0 calc(calc(4 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%);">
        <p class="blue-text-nm">
          {{beneficiary_list.name}}
        </p>
        <p class="fade-text-two">
          Bank Name
        </p>
        <p class="blue-text-nm">
          {{beneficiary_list.bank_name}}
        </p>
      </ion-col>
    </ion-row>
    <div _ngcontent-psf-c136="" class="branch-contact"> Please make sure to add correct details in beneficary we will not be responsible for incorrect account transactions.</div>
  </div>
  <div class="row" *ngIf="beneficiary_list == ''">
    <p class="ion-text-center"> No beneficary yet </p>
  </div> -->
  <div class="user_profiles_page comman_page_padding">
    <ion-row class="profile_page_header">
      <ion-col size="12">
        <button class="gradient_fill_btn small_btn_filled float_right" (click) = "add_ben()">Add Benificiary</button>
      </ion-col>
      <ion-col size="12">
        <div class="searchbar">
          <ion-input type="search" placeholder="Search Beneficiary...."><img src="../../../../assets/imgs/search_icon.svg">
          </ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-card class="card_purple card_padding">
      <ion-item *ngFor="let beneficiary_list of beneficiary_list" lines="none" class="dotted">
        <ion-avatar slot="start">
          <img src="../../../../../assets/imgs/yellow_profile_icon.svg" alt="avatar.png">
        </ion-avatar>
        <ion-label class="name">{{beneficiary_list.name}}<br>
          <span>{{beneficiary_list.bank_name}}</span>
          <span>{{beneficiary_list.account_no}}</span>
        </ion-label>
        <div class="transfer_btn">
          <button class="small_btn_gray" (click)="check_ben(beneficiary_list.beneficiary_id)">Transfer</button>
        </div>
      </ion-item>
    </ion-card>
  </div>

</ion-content>
