<!-- <ion-toolbar> -->
<!-- 
  <div class="accounts-header ">
    <ion-row>
      <ion-col size="1">
       <div class="back-button">
         <ion-back-button defaultHref="dashboard/home" name="chevron-back-outline"></ion-back-button></div>
      </ion-col>
      <ion-col size="2">
        <img src="../../assets/imgs/logo.png"/>
      </ion-col>
      <ion-col size="7">
        
      </ion-col>
      <ion-col size="1">
        <img src="../../assets/icon/bellb.svg"/>
      </ion-col>
      <ion-col size="1" class="blue-wallet" (click)="gohome()">
          <img src="../../assets/icon/walletb.svg"/>
      </ion-col>
    </ion-row>
   
   </div> -->
<!-- </ion-toolbar> -->
<ion-header translucent>
  <ion-toolbar>
    <ion-title>Terms And Condition</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text">
    
    <strong>TERMS OF USE<br>
<br>
</strong>              These terms and conditions explain the rights and obligations pertaining to the Mobile Banking Service (defined below) and information that the Customer may use or request from the Bank or that the Bank may provide to the Customer through the Mobile Banking Service.<br>
<br>
The Bank reserves the right to add, amend, revise, change or cancel any of these terms and conditions and also reserves the right to modify any features of any products or services offered by the Bank.<br>
<br>
The Customer unconditionally accepts these terms and conditions applicable to such Account (defined below) and the services relating thereto and shall always be bound by and abide with them and their amendments from time to time.<br>
<br>
The Customer understands and acknowledges that this Mobile Banking Service is an extension of the OLB (defined below) provided by the Bank and the Customer accessing such Mobile Banking Service shall also be bound by the terms and conditions that govern the OLB.<br>
<br>
These terms and conditions are in addition to and not in substitution / derogation of the general business terms and conditions; the wealth management terms and conditions; and such other terms as may be prescribed by the Bank from time to time in relation to the Services.             <br>
<ul>
<li><strong>DEFINITIONS</strong><br>
<br>
<strong>Account</strong> shall mean the bank account maintained by the Customer with the Bank for which the Mobile Banking Service is being offered.<br>
<br>
<strong>Applicable Laws</strong> shall mean and include any statute, law, regulation or a stipulation by the RBI or any other regulatory authority whether in effect as on date or as amended from time to time.<br>
<br>
<strong>Application</strong> shall mean the mobile application which will be downloaded on the mobile phone of the Customer to access and use the Mobile Banking Service.<br>
<br>
<strong>Bank</strong> shall mean Deutsche Bank AG.<br>
<br>
<strong>Customer</strong> shall mean the existing holder of an Account with the Bank or the holder of the Bank’s debit / credit cards who has made an application to the Bank to use the Mobile Banking Service and / or downloaded the MyBank India - Mobile Banking App and thereby agreed to these terms and conditions.<br>
<br>
<strong>Customer Identification Data</strong> shall mean the Customer account number / card number, mobile phone number, user ID and other information that are to be used by the Customer to authenticate themselves prior to accessing the Mobile Banking Service which may be the same as the information used by the Customer for accessing the OLB services.<br>
<br>
<strong>Mobile Banking Service</strong> means any and all of the Services offered by the Bank to the Customer on phone and / or any electronic gadgets owned by the Customer.<br>
<br>
<strong>Mobile Phone Number</strong> shall mean the number registered by the Customer in relation to the use of Services offered by the Bank.<br>
<br>
<strong>OLB</strong> means Online Banking Services provided by the Bank on its website.<br>
<br>
<strong>RBI</strong> shall mean the Reserve Bank of India.<br>
<br>
<strong>Service</strong> shall mean current / savings account related operations including inter alia wealth management services and / or such additional features as may be added / removed from time to time.<br>
<br>
<strong>SMS</strong> shall mean Short Messaging Service, being a service offered by Telephone Service Providers and / or any other similar method of electronic communication that may now or at anytime in the future be offered by Telephone Service Provider(s).<br>
<br>
<strong>SMS Banking</strong> means a service that allows Customers to access their account information via Mobile phone using SMS messaging.<br>
<br>
<strong>Telephone Service Provider</strong> shall mean the provider of the mobile phone connectivity services and Mobile Phone Number used by the Customer on their mobile phones.<br>
<br>
<strong>Website</strong> shall mean the domain of the Bank located at url www.deutschebank.co.in owned and controlled by the Bank.             </li>
</ul>
<br>
<ul>
<li><strong>ACCEPTANCE OF TERMS AND CONDITIONS</strong><br>
<br>
• On the terms and conditions hereinafter provided, the Bank offers the Mobile Banking Service to the Customer. These terms and conditions made by the Bank and accepted by the Customer shall form the contract between the Customer. These terms and conditions shall be in addition to and not in derogation of other terms and conditions relating to any Account or Service of the Customer and / or the respective product provided by the Bank unless otherwise specifically stated.<br>
<br>
• To access the Mobile Banking Service, the Customer is required to download the Application on their mobile phone and / or any electronic gadgets owned by the Customer provided such mobile phone and / or any electronic gadgets is compatible with the Application.<br>
<br>
• In order to transact under the Mobile Banking Service, there are transaction data verification / re-authentication requirements for the Customer. The Customer may use the OLB credentials or the Customer Identification Data to effect such verification / re-authentication. The Customer will use the same Customer Identification Data for both the OLB and Mobile Banking Service. The Customer must strictly adhere to privacy procedures to ensure safe keeping of the log in credentials.             </li>
</ul>
<br>
<ul>
<li><strong>ACCURACY OF INFORMATION</strong><br>
<br>
• It is the responsibility of the Customer to provide correct information to the Bank through the use of the Mobile Banking Service or any other method. The Bank will endeavor to correct the error wherever possible on a best effort basis, if the Customer reports such error in information promptly.<br>
<br>
• The Customer accepts that, in case of any discrepancy in this information, the Bank shall not be responsible for any errors which may occur in spite of the steps taken by the Bank to ensure the accuracy of the information and shall not have any claim against the Bank in an event of any loss / damage suffered as a consequence of an information provided by the Bank found to be not correct.             </li>
</ul>
<br>
<ul>
<li><strong>FEE STRUCTURE</strong><br>
<br>
The Bank reserves the right to charge the Customer a fee for the use of the services provided under the Mobile Banking Service and change the fee structure at its discretion. Fees may be collected from the Customer in such manner and at such intervals as the Bank may specify as per the above guidelines. The charges payable by the Customer are exclusive of the amount payable to the Telephone Service Provider and would be debited from the account of the Customer instantly.             </li>
</ul>
<br>
<ul>
<li><strong>NON-TRANSFERABILITY</strong><br>
<br>
The grant of the Mobile Banking Service to a Customer is not transferable under any circumstance and shall be used only by the Customer. However, the Bank shall have the right to transfer, assign or sell all its rights under these terms and conditions, which shall continue to be in force and effect for the benefit of the successors and assigns of the Bank.             </li>
</ul>
<br>
<br>
<ul>
<li><strong>NO WARRANTY</strong><br>
<br>
• Without prejudice to anything contained in these terms and conditions, the Bank, third party service provider, and their respective third party suppliers, licensors, and partners makes no express or implied warranty or make any representations regarding the use or the results of the use of the with respect to the Mobile Banking Service provided hereunder including, without limitation, any warranties of non-infringement of third party rights, title, marketability, of correctness, accuracy, adequacy, reliability, suitability, satisfactory quality and fitness for a particular purpose or otherwise.<br>
<br>
• The Customer expressly agrees that use of the Mobile Banking Service is at its risk. The Mobile Banking Service and any data, information, third party software, reference sites, services, or software made available in conjunction with or through the Mobile Banking Service are provided on an “as is” basis.             </li>
</ul>
<br>
<ul>
<li><strong>LIMITATION OF LIABILITY</strong><br>
<br>
Without prejudice to any other provisions of these terms and conditions, the Bank shall not be liable to the Customer for any loss or damage whatsoever or howsoever caused arising directly or indirectly in connection with the Mobile Banking Service and / or these terms and conditions. Notwithstanding the generality of the above, the Bank expressly excludes liability for consequential loss or damage or loss of profit, business, revenue, goodwill or anticipated savings which may arise in respect of the Mobile Banking Service.             </li>
</ul>
<br>
<br>
<ul>
<li><strong>ADDITION AND WITHDRAWAL OR TERMINATION OF MOBILE BANKING SERVICE</strong><br>
<br>
• The Mobile Banking Service is made available to the Customer, at the sole discretion of the Bank and may be discontinued by the Bank at any time, without notice.<br>
<br>
• The Bank reserves the right to introduce additional services with or without giving any notice to the Customer. The Bank reserves the right to send SMS to the registered mobile phones regarding its products, services or any related matter, without the express consent of the Customer.             </li>
</ul>
<br>
<ul>
<li><strong>GOVERNING LAW AND JURISDICTION</strong><br>
<br>
Any dispute or differences arising out of or in connection with the Mobile Banking Service shall be subject to the exclusive jurisdiction of the Courts and tribunals of Mumbai and shall be governed by the laws of India.             </li>
</ul>
<br>
<ul>
<li><strong>GRIEVANCE REDRESSAL</strong><br>
<br>
The Customer is advised to familiarize with the Grievance Redressal procedure available on our Website for details on how to address a grievance that the Customer may have concerning Bank’s Services. The Grievance Redressal set out by the Bank is in accordance with the Banking Ombudsman Scheme 2006. For further information on Grievance Redressal, contact our help desk at 1860 266 6601* or head.services@db.com.             </li>
</ul>
<br>
  </div>
  <ion-button size="small" color="warning"  (click)="dismiss()" class="ion-text-center accept_a_continue" >Accept & Continue</ion-button>
</ion-content>





