<ion-header>
  <ion-toolbar>
    <ion-title>success</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class=" ion-justify-content-center ion-align-items-center">
  <ion-col size="12" class="profile-header md hydrated" style="flex: 0 0 calc(calc(12 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(12 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(12 / var(--ion-grid-columns, 12)) * 100%);">
   <div class="back-button top-bar-back-button"><ion-icon name="chevron-back-outline" role="img" class="md hydrated" aria-label="chevron back outline"></ion-icon></div>
  <img src="../../assets/images/profile.png">      
  </ion-col>
<img src="../../assets/passwordchange.png" class="change-pass"/>
<div class="password-details">
<h1>Password change</h1>
<p>Your password has been changed successfully</p>
<button> Back</button>
</div>
</ion-content>
