<ion-toolbar>
  <div class="beneficiaries_page">
    <!--===bg_theme_small===-->
    <div class="bg_theme bg_theme_small comman_page_padding">
      <ion-row class="">
        <ion-col size="10">
          <a [routerLink]="['/transaction/saving-credit/select-app']"><img src="../../../assets/imgs/back-button.svg"></a>
        </ion-col>
        <ion-col size="2">
          <div class="notification_numbur"> <span class="">12</span></div>
         <img class="bell_icon relative" src="../../../assets/imgs/bell.svg" >
        </ion-col>
      </ion-row>
     </div>
     </div>
</ion-toolbar>

<ion-content>
<div class="confirm-payment-section">
  <ion-row>
  <ion-col size="8">
  <div id="myDiv" >
  <h6 class="upi-id">UPI ID: {{upi}}</h6>
  </div>
  </ion-col>
  <ion-col size="4">
  <button class="copy" (click)="copyMessage()" >copy</button>
  </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="8">
  <h6 class="rupe" id="amount">&#8377;{{am}}</h6>
  </ion-col>
  </ion-row>
</div>
<ion-card class="card-1"  >
  <ion-row>
         <ion-col size="6">
           <h1 class="title-row">Name</h1>
           <h1 class="title-row">Account No</h1>
           <h1 class="title-row">IFSC Code</h1>
           
         </ion-col>
         <ion-col size="6">
         <h1 class="ap">Dev Rising Nidhi</h1>
         <h1 class="ap">{{account}}</h1>
         <h1 class="dis-1" >{{ifsc}}</h1>
        </ion-col>
  </ion-row>  
</ion-card>
<div class="ion-text-center">
  <h1 class="upload">Please Go to your UPI app And make payment After Completing the payment please upload transaction's Screenshot Below .</h1>
</div>
  
  <div class="ion-text-center">
    <h1 class="upload">Upload Screenshot of Your Transactions.</h1>
  </div>
  <div class="ion-text-center select_box" *ngIf="div">
     <div class="select">
    <ion-row (click)="upload()">
      <ion-col>
         <img src="../../../../../../assets/imgs/plus_icon.svg">
         <h6 class="select_text">Select</h6>
      </ion-col>
    </ion-row>
    </div>
  </div>
  <div class="ion-text-center">
  <ion-row>
    <ion-col>
      
        <div class="enter_amount_ field comman_input_field">
          <ion-item lines="none" >
            <!-- <form #form="ngForm"> -->
              <ion-label position="floating">Enter UTR No</ion-label>
              <ion-input required pattern="[0-9]*" name="amount" type="number" [(ngModel)]="utr_no" ></ion-input>
            </ion-item>
        </div>
      
        <button class="gradient_fill_btn large_btn_filled-2" (click)="submit()" >Submit</button>
    </ion-col>
  </ion-row>
  </div>
  <script>

  </script>
</ion-content>
