<ion-content>
  <div class="member_kyc_page">
    <div class="bg_theme comman_page_padding bg_theme_small">
      <ion-row>
        <h1>Member KYC</h1>
      </ion-row>
    </div>
    <ion-row class="row_progress">
      <ion-col>
        <div class="circle_white relative"><span>1</span></div>
        <div class="circle_white relative"><span>2</span></div>
        <div class="circle_purple relative"><span>3</span></div>
      </ion-col>
      <ion-progress-bar class=""  value="1"></ion-progress-bar>
    </ion-row>
    <div class="comman_page_headline_2">
      <h2 class="ion-text-left">Member's KYC Details</h2>
    </div>
    <div class="comman_page_padding member_kyc_form">
      <ion-card class="card_purple comman_input_field box_shadow">
        <ion-item lines="none">
          <ion-label position="floating">Aadhar/ Address Proof (front side)</ion-label>
          <ion-input type="file" class="mobile_cam_icon" id="file"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="floating">Aadhar/ Address Proof (back side)</ion-label>
          <ion-input type="file" class="mobile_cam_icon"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="floating">Pan No.</ion-label>
          <ion-input type="file" class="mobile_cam_icon"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="floating">Upload Photo (with white background)</ion-label>
          <ion-input type="file" class="mobile_cam_icon"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="floating">Upload Signature (with white background)</ion-label>
          <ion-input type="file" class="mobile_cam_icon"></ion-input>
        </ion-item>
        <div class="comman_page_headline_2 margin_for_headline">
          <h2 class="ion-text-left">Add Nominee</h2>
        </div>
        <ion-item lines="none">
          <ion-label position="floating">Nominee Name</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="floating">Father's Name</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="floating">Nominee Relation</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="floating">Nominee Mobile No.</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="floating">Nominee Address</ion-label>
          <ion-textarea class="textarea"></ion-textarea>
        </ion-item>
        <div class="add_member_form_btns">
          <button class="small_btn_gray">Back</button>
          <button class="gradient_fill_btn small_btn_filled">Next</button>
        </div>
      </ion-card>
    </div>
    <!--===member_kyc_form===-->
  </div>
  <!--===member KYC page close-->
</ion-content>
