

<ion-content>
  <div class="bg_theme bg_theme_small comman_page_padding">
    <ion-row class="">
      <ion-col size="10">
        <a [routerLink]="['/dashboard/home']"><img src="../../../../../../assets/imgs/back-button.svg"></a>
      </ion-col>
      <ion-col size="2">
      
      </ion-col>
    </ion-row>
    
  </div>
  
  <div class="transaction-list">
    <ion-card-header class="comman_card_header">
      <ion-row>
        <ion-col size="9">
          <h3>Recent Transaction</h3>
        </ion-col>
        
      </ion-row>
    </ion-card-header>
    <!-- top table row-->
    <ion-row>
     <ion-col size="3">
       <h3 class="blue-text">
        Transaction Date
       </h3>
     </ion-col>
     <ion-col size="3">
      <h3 class="blue-text ion-text-right">
        Status
       </h3>
        </ion-col>
     <ion-col size="3">
      <h3 class="blue-text ">
      Transaction Type
      </h3>
     </ion-col>
     <ion-col size="3">
      <h3 class="blue-text ion-text-right">
      Amount
      </h3>
     </ion-col>
   </ion-row>
   
   
   
   <div *ngIf="transaction_list.length == 0 ">
    <h5 class="ion-text-center">No transactions yet.</h5>
  </div>
   <ion-row *ngFor= "let transaction_list of transaction_list">
    <ion-col size="3">
      <h3 class="blue-text">
       {{ transaction_list.created_at | date }}
      </h3>
      <p class="faded-text">
        {{transaction_list.from_account}}
      </p>
    </ion-col>
    <ion-col size="3">
     <p class="details-green-text ion-text-left">
      {{transaction_list.status}}
     </p>
       </ion-col>
    <ion-col size="3" *ngIf="transaction_list.b_type == 'cashfree'">
    <p class="faded-text">
      Withdrawal Request
    </p>
    </ion-col>
    <ion-col size="3" *ngIf="transaction_list.b_type == 'within_bank'">
      <p class="faded-text">
      Within Bank (Nidhi)
      </p>
      </ion-col>
    <ion-col size="3">
      <p class="details-green-text">
        {{ transaction_list.amount.toLocaleString('en-IN') }}
      </p>
    </ion-col>
   </ion-row>
    
   </div>
</ion-content>
