<ion-toolbar>
  <!--===bg_theme_small===-->
  <div class="bg_theme bg_theme_small comman_page_padding">
    <ion-row class="">
      <ion-col size="10">
        <a [routerLink]="['/dashboard/home']"><img src="../../../../../../assets/imgs/back-button.svg"></a>
      </ion-col>
      <ion-col size="2">
        <div class="notification_numbur"> <span class="">12</span></div>
        <img class="bell_icon relative" src="../../../../../../assets/imgs/bell.svg">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="profile-header">
       <img *ngIf="ProfileResponse.member_image != ''" class="profilr_img" src ="{{ProfileResponse.member_image}}" /> 
       <img *ngIf="ProfileResponse.member_image == ''" class="profilr_img" src ="../../../../assets/imgs/avtar.png" /> 
             
      </ion-col>
      </ion-row>
  </div>
</ion-toolbar>



<ion-content class=" ion-justify-content-center ion-align-items-center" *ngIf="ProfileResponse">
 
  <!-- <ion-row>
   <ion-col size="12" class="profile-header">
    <img *ngIf="ProfileResponse.member_image != ''" class="profilr_img" src ="{{ProfileResponse.member_image}}" /> 
    <img *ngIf="ProfileResponse.member_image == ''" class="profilr_img" src ="../../../../assets/imgs/avtar.png" /> 
          
   </ion-col>
   </ion-row> -->
   <h2 class="profile-title">Profile</h2>
     <div class="customer-2" >
       <div class="customer-label">
         Display Name
       </div>
       <div class="customer-details">
         {{ProfileResponse.first_name}} {{ProfileResponse.last_name}}
       </div>


       <div class="customer-label">
         Mobile Number
       </div>
       <div class="customer-details">
        {{ProfileResponse.mobile_no}}
       </div>

       <div class="customer-label">
        Enrollment Date
       </div>
       <div class="customer-details">
        {{enrollment_date}}
       </div>

       <!-- <div class="customer-label">
        Address
        </div> -->
        <!-- <div class="customer-details">
          {{ProfileResponse.address}} 
        </div> -->

        <div class="disandpin">
          <div>
        <div class="customer-label">
         DOB
         </div>
         <div class="customer-details">
          {{dob}}
         </div>
          </div>
          <div>
         <!-- <div class="customer-label">
           Pin
           </div>
           <div class="customer-details">
            {{ProfileResponse.pin_code}}
           </div> -->
         </div>
       </div>
       <div class="branch-contact">
         To update profile plz contact the branch
       </div>
     </div>

     
</ion-content>
